{% macro promo_box(id) %}
  {% set box = get_promotion(id) %}
  {% if box and box.body %}
    <section>
      <div class="card p-0 border-0 bg-white rounded shadow">
        <h2 class="flex justify-between px-4 py-3 text-base font-medium text-gray-900 bg-gray-200">
          {{ box.title }}
        </h2>

        <div class="py-2 px-4 text-gray-700 text-sm">
          <div class="my-3">
            {{ box.body }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endmacro %}
