<section class="p-4 bg-white shadow sm:rounded">
  <table class="table">
    <tbody>
    <tr>
      <td style="width: 50%;">
        <h2 class="font-bold">Timings</h2>
        9:00 AM - 6:00 PM (General)
        <br>
        <div id="timeid" class="collapse"></div>
      </td>

      <td style="width:50%;">
        <h2 class="font-bold">Entry Fees</h2>
        <a href="javascript:void(0);" data-settle="website"
           onclick="attendNew(this ,'orgdetailswebsite_bookmark');"
           class="x-ob-ow text-muted text-decoration-none"><small>Check Official Website</small></a></td>
    </tr>

    <tr>
      <td>
        <h2 class="font-bold">Estimated Turnout</h2>
        100 - 500
        <div id="name_vis" style="display:inline-block;"> Delegates</div>
        <small class="text-danger d-block ">Based on previous editions</small></td>

      <td>
        <h2 class="font-bold">Category &amp; Type</h2>
        Conference<br>
        <a href="/technology" class="text-decoration-none">IT &amp; Technology</a><br></td>
    </tr>

    <tr>
      <td>
        <h2 class="font-bold">Editions</h2>

        Nov 2018<br>
        <a href="javascript:void(0);" class="text-decoration-underline text-muted fs-12"
           onclick="openEditions(this,'732398','0','','0');">
          +1 more edition
        </a>
        <br><br>
        <small class="d-block text-muted">Frequency</small>
        Annual<br><span class="d-flex"></span>
      </td>

      <td>
        <h2 class="font-bold">Official Links</h2>
        <a href="javascript:void(0);" data-settle="website"
           onclick="attendNew(this ,'orgdetailswebsite_bookmark');"
           class="btn btn-sm btn-default x-ob-ow text-decoration-none fs-12">Website</a><a href="javascript:void(0);"
                                                                                           onclick="contact_organizer_detail(this);"
                                                                                           data-event_id="326977"
                                                                                           data-event_name="PyParis"
                                                                                           data-event_url="pyparis"
                                                                                           style="margin-left:3px;"
                                                                                           class="btn btn-sm btn-default x-ob-cd text-decoration-none fs-12 cntct_orgnzr">Contacts </a><br><br><br><small><a
          href="javascript:void(0);" class="text-muted x-rtl text-decoration-none" onclick="showReport();">Report
        Error</a><br><a
          href="https://login.10times.com/login?eventId=pyparis&amp;utm_source=10times&amp;utm_medium=claim&amp;utm_campaign=event_claim"
          class="text-muted claim engageAction text-decoration-none" target="_blank" rel="noreferrer"
          data-action="callGaEvent" data-param="claim">Claim this event</a></small></td>
    </tr>

    <tr>
      <td colspan="2" class="p-0" style="border-bottom-color:transparent!important;">
        <hr style="margin-top: 10px!important;">
        <h2 class="myPrfl fw-bold">Organizer</h2><img class="img-thumbnail float-start lazyloaded"
                                                      src="https://img.10times.com/userimages/p.jpg?imgeng=/w_80/h_80/m_stretch/cmpr_80"
                                                      alt="Logo" width="80"
                                                      height="80"><a href="javascript:void(0);"
                                                                     class="engageAction float-end btn btn-orange followingMe eventCompany text-decoration-none fs-14 ms-3 fw-bold"
                                                                     data-settle="organizer"
                                                                     data-action="organizerSplitFollow"
                                                                     data-param="1121698#organizer"> Follow Company </a>
        <div style="margin-left:90px;"><h3 style="margin-bottom:1px;margin-top:-3px;"><a
            href="https://10times.com/company/pyparis-france" id="org-name" class="text-decoration-none">PyParis</a>
        </h3><small class="text-muted d-block"> France</small><small class="d-block"
                                                                     style="margin-top:0px;margin-bottom:-3px;"><span>1</span>
          Total Event

        </small></div>
      </td>
    </tr>
    </tbody>
  </table>
</section>
