{% from "macros/swork/_macros.j2" import format_activity %} {% macro box(title,
class="") %}
<div class="bg-white mt-6 shadow sm:rounded-md">
    <h2 class="bg-gray-200 sm:rounded-t-md px-4 py-3 font-medium text-gray-800">
        {{ title }}
    </h2>

    <div class="px-4 py-3">{{ caller() }}</div>
</div>
{% endmacro %} {% if org.bw_gallery_images %}
<div class="bg-white shadow sm:rounded-md">
    <h2 class="bg-gray-200 sm:rounded-t-md font-medium px-4 py-3 text-gray-900">
        Galerie
    </h2>
    {{ component("slider", images=org.bw_gallery_images) }}
</div>
{% endif %} {#{% call box("Recherches de collaborations ponctuelles") %}#} {#
<p>...</p>
#} {#{% endcall %}#} {##} {#{% call box("Appels à projets") %}#} {#
<p>...</p>
#} {#{% endcall %}#} {##} {#{% call box("Partenariats") %}#} {#
<p>...</p>
#} {#{% endcall %}#} {##} {#{% call box("Nos groupes thématiques") %}#} {#
<p>...</p>
#} {#{% endcall %}#} {##} {#{% call box("Job board") %}#} {#
<p>...</p>
#} {#{% endcall %}#} {% call box("Dernières activités") %}
<!-- Activity Feed -->
<div class="mt-2 flow-root">
    <ul
        role="list"
        class="-mb-8"
    >
        {% for activity, msg in org.timeline %} {{ format_activity(activity,
        msg, loop.last) }} {% endfor %}
    </ul>
</div>
{% endcall %}
