<div x-show="tab === 'contacts'">
  <h2 class="text-lg font-medium mb-2">Contacts</h2>

  <ul>
    {% for member in org.members %}
      <li>
        <a
          href="{{ url_for(member) }}"
          class="py-5 flex items-center space-x-3 hover:bg-gray-50"
        >
          <div class="flex-shrink-0">
            {{ profile_image(member, size=10) }}
          </div>
          <div class="flex-1 min-w-0">
            <!-- Extend touch target to entire panel -->
            <span class="inset-0" aria-hidden="true"/>
            <p class="text-sm font-medium text-gray-900">
              {{ member.full_name }}
            </p>
            <p class="text-sm text-gray-500 truncate">
              {{ member.job_title }}
            </p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
