<div x-show="tab === 'profile'">

  <h2 class="text-lg font-medium mb-2">Profil</h2>

  {% set type = org.type | label %}

  <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
    {{ line("Type", type) }}

    {% if type == "Agence de Presse" %}
      {{ line("Agréée CPPAP", org.agree_cppap) }}
      {{ line("Membre du SAPI", org.membre_sapi) }}
      {{ line("Membre du SATEV", org.membre_satev) }}
      {{ line("Membre du SAPHIR", org.membre_saphir) }}
    {% endif %}

    {{ line("Nombre d'employés / membres", org.members | length) }}
    {{ line("Nombre de communiqués", org.press_releases | length) }}
    {{ line("Nombre de likes", 0) }}
  </dl>

  <h2 class="text-lg font-medium mt-6 mb-2">Coordonnées</h2>

  <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
    {{ line("Site web", org.site_url) }}
    {{ line("Adresse du siège social", org.address_formatted) }}
  </dl>

  <h2 class="text-lg font-medium mt-8 mb-2">Description</h2>
  {{ org.description | safe }}

  <h2 class="text-lg font-medium mt-8 mb-2">Métiers</h2>
  {{ org.description | safe }}

</div>
