<main
    class="bg-white shadow sm:rounded-lg"
>
  <article>
    <!-- Profile header -->
    <div>
      {% if org.cover_image_url %}
        <div>
          <img
            class="h-32 w-full object-cover lg:h-48"
            src="{{ org.cover_image_url }}"
            alt=""
          />
        </div>
      {% endif %}

      <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-end sm:space-x-5">
          <div class="flex">
            <img
                class="h-24 w-24 ring-2 ring-gray-100 sm:h-32 sm:w-32"
                src="{{ org.logo_url }}"
                alt=""
            />
          </div>
          <div
              class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
          >
            <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
              <h1 class="text-2xl font-bold text-gray-900 truncate">
                {{ org.name }}
              </h1>
            </div>

            <div
                class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4"
            >
              <button
                  type="button"
                  class="aui-button"
                  hx-post="{{ url_for(org) }}"
                  hx-vals='{"action": "toggle-follow"}'
                  hx-target="#follow-{{ org.id }}"
                  hx-swap="innerHTML"
              >
                {{ icon("star", class="-ml-1 mr-2 h-5 w-5 text-gray-400") }}
                <span id="follow-{{ org.id }}" class="font-medium text-gray-900">
                  {%- if org.is_following -%}
                    Ne plus suivre
                  {%- else -%}
                    Suivre
                  {%- endif -%}
                </span>
              </button>
            </div>
          </div>
        </div>

        <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-gray-900 truncate">
            {{ org.name }}
          </h1>
        </div>
      </div>
    </div>

    {% if org.type.name == "AUTO" %}
      <div class="px-8 pt-8 py-4">
        <div class="dui-alert dui-alert-info shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 class="stroke-current flex-shrink-0 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <a href="{{ url_for(".org_upgrade", id=org.id) }}"
            >Faire passer la page de votre organisation à la version officielle.</a>
          </div>
        </div>
      </div>
    {% endif %}

    {% if is_member %}
      {% if is_manager %}
        <div class="px-8 pt-2">
          <p class="text-xl text-orange-700">
            Vous êtes manager du BW de cette organisation</p>
        </div>
      {% else %}
        <div class="px-8 pt-2">
          <p class="text-xl text-green-700">
            Vous êtes membre de cette organisation</p>
        </div>
      {% endif %}
    {% endif %}

    {% include "pages/org/org--tabs.j2" %}

  </article>
</main>
