{% extends "layout/private.j2" %}

{% block content %}
  <div class="min-h-full py-10">
    <div class="max-w-3xl mx-auto lg:max-w-7xl px-8">
      <div class="sm:px-8 bg-white shadow sm:rounded-lg py-6 lg:py-8">
        <div class="lg:grid lg:grid-cols-3">
          <main class="lg:col-span-2 lg:pr-8 lg:border-r lg:border-gray-200">
            <div class="prose">

              <h1>Boostez votre visibilité sur AiPRESS24 !</h1>

              <p>
                Pour 299,99 euros / mois, transformez votre page non-officielle en page officielle et bénéficiez de
                nombreux avantages.
              </p>

              <ul class="part" data-startline="3" data-endline="29">
                <li class="" data-startline="3" data-endline="4">
                  <p>Maîtrisez l’identité et la communication de votre organisation sur AiPRESS24 vers votre seule page
                    Officielle</p>
                </li>
                <li class="" data-startline="5" data-endline="6">
                  <p>Officialisez, consolidez et actualisez l’identité professionnelle et le rôle de vos collaborateurs
                    sur
                    AiPRESS24</p>
                </li>
                <li class="" data-startline="7" data-endline="8">
                  <p>Faites converger les différentes pages non officielles de votre organisation (via la fonctionnalité
                    «&nbsp;Modifier
                    mon profil&nbsp;» de chaque membre inscrit)</p>
                </li>
                <li class="" data-startline="9" data-endline="10">
                  <p>Présentez l’activité et les métiers de votre organisation. Les organisations peuvent coller leur
                    traditionnel «&nbsp;About
                    us&nbsp;» (Qui sommes-nous?)</p>
                </li>
                <li class="" data-startline="11" data-endline="12">
                  <p>Indiquez le contact de la personne (ou des personnes) en charge de vos relations avec les
                    journalistes.
                    Actualisez cette liste pendant les périodes de congés.</p>
                </li>
                <li class="" data-startline="13" data-endline="14">
                  <p>Renseignez les méta-données (activités, métiers, pays, code postal…) qui permettront aux
                    journalistes
                    de
                    vous
                    retrouver lorsqu’ils en ont besoin.</p>
                </li>
                <li class="" data-startline="15" data-endline="16">
                  <p>Multiplier vos opportunités de passer dans la presse et les médias grâce à notre service Avis
                    d’enquête
                    déposés
                    par les journalistes</p>
                </li>
                <li class="" data-startline="17" data-endline="18">
                  <p>Consulter gratuitement les appels à experts et à témoins déposés par les journalistes</p>
                </li>
                <li class="" data-startline="19" data-endline="20">
                  <p>Affichez les derniers avis d’enquête pour lesquels vos salariés sont sollicités</p>
                </li>
                <li class="" data-startline="21" data-endline="21">
                  <p>Centralisez et suivez la gestion des ventes et des consommations (achats de produits éditoriaux,
                    abonnements à
                    des services digitaux comme l’Avis d’enquête, extension de capacité de stockage, formations), par
                    date,
                    par
                    collaborateur, par produit, par service</p>
                </li>
                <li class="" data-startline="22" data-endline="23">
                  <p>Centralisez la facturation de vos consommations sur AiPRESS24</p>
                </li>
                <li class="" data-startline="24" data-endline="24">
                  <p>Déléguez gratuitement la gestion de votre page officielle sur AiPRESS24 à vos collaborateurs ou à
                    votre
                    cabinet
                    de relation <a href="http://presse.Si" target="_blank" rel="noopener">presse.Si</a> vous recherchez
                    un
                    prestataire consulter la liste des Cabinets de relations de presse (lien vers la page
                    SWORK/Organisation/Cabinets de relations de presse) ou lancez un appel d’offres sur AiPRESS24
                    (BIZ/Projet/Appel
                    d’offre/Cabinet de relations de presse)</p>
                </li>
                <li class="" data-startline="25" data-endline="25">
                  <p>Déléguez l’inscription collective de vos salariés habilités à opérer directement ou indirectement
                    sur
                    AiPRESS24
                    à votre responsable RH, votre responsable communication ou votre attaché de presse</p>
                </li>
                <li class="" data-startline="26" data-endline="26">
                  <p>Déléguez à la personne chargée de votre communication la publication de vos communiqués de presse
                    et
                    de
                    vos
                    justificatifs de publication</p>
                </li>
                <li class="" data-startline="27" data-endline="27">
                  <p>Routez vers la personne chargée de votre communication les demandes des journalistes pour
                    interviewer
                    vos
                    salariés habilités à opérer sur AiPRESS24</p>
                </li>
                <li class="" data-startline="28" data-endline="28">
                  <p>Déléguez à votre comptable la gestion de votre porte-monnaie électronique Corporate (au niveau de
                    l’organisation) et de des portes-monnaies électroniques Collaborateurs</p>
                </li>
                <li class="" data-startline="29" data-endline="29">
                  <p>Annoncez vos offres d’emploi et de stage</p>
                </li>
              </ul>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
