FLASK_SECURITY_PASSWORD_SALT="changeme"
# FLASK_SQLALCHEMY_DATABASE_URI="postgresql://localhost/aipress24"
FLASK_SQLALCHEMY_DATABASE_URI="sqlite:///aipress24.db"

# Bootstrapping first admin user
FLASK_ADMIN_EMAIL=""
FLASK_ADMIN_PASSWORD=""

# Generating fake data for demo purposes
FLASK_FAKE_DATA="False"
