FLASK_SECURITY_PASSWORD_SALT="changeme"
# FLASK_SQLALCHEMY_DATABASE_URI="postgresql://localhost/aipress24"
FLASK_SQLALCHEMY_DATABASE_URI="sqlite:///aipress24.db"

# Bootstrapping first admin user
FLASK_ADMIN_EMAIL=""
FLASK_ADMIN_PASSWORD=""

# Generating fake data for demo purposes
FLASK_FAKE_DATA="False"

# Stripe keys if using this backend
FLASK_STRIPE_PUBLIC_KEY=""
FLASK_STRIPE_SECRET_KEY=""
FLASK_STRIPE_WEBHOOK_SECRET=""
# Stripe pricing table id for the subscriptions products
FLASK_STRIPE_PRICING_SUBS_MEDIA="prctbl_1QXlbyIyzOgen8OqwSrrX15Z"
FLASK_STRIPE_PRICING_SUBS_COM="prctbl_1QXls0IyzOgen8OqYcgXiOct"
FLASK_STRIPE_PRICING_SUBS_ORGANISATION="prctbl_1QXllXIyzOgen8OqevzCzyUV"
