# Cruft
*.egg-info/
*.pyc
*.sqlite*
.cache/
.coverage
.eggs/
.venv
.hypothesis/
.ropeproject/
# Runtime
/src/instance/

# /vite/dist/assets/
# /vite/dist/

# Secret
/.env
/etc/secrets.toml

# Other
/tmp
/static-old
/front-old
/sandbox
/doc/site

# Generated
__pycache__/
env
node_modules/
.devenv*
devenv.local.nix
/src/app/modules/kyc/data/*.json
/src/app/modules/kyc/data/towns/*.json
/gen_ontologies/full_content.json
/gen_ontologies/ontology_json
/gen_ontologies/*.ods

# More
/.clever.json
/.envrc
/vite/yarn.lock

# Not ready / old
/doc/overrides/partials/integrations/analytics/custom.html
/src/app/apps/public/templates/sandbox
/src/app/models/geo.py
OLD/

# Not ready
/src/app/modules/superadmin
/src/app/modules/auth
/src/app/sandbox
/src/app/modules/public/templates/sandbox/

# Not needed
.github/workflows/fly-deploy.yml
