<!-- image -->
<div
    x-data='carousel({{ alpine_data | tojson }})'
    x-init="startAutoPlay()"
    class="relative w-full overflow-hidden">

    {% set cls="absolute top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-gray-300/30 p-2 text-neutral-800 transition hover:bg-gray-300/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" %}

  <!-- previous button -->
    <button
        type="button"
        class="{{ cls }} left-5"
        aria-label="previous slide"
        @click="previous()">
        <i data-lucide="chevron-left"></i>
    </button>

  <!-- next button -->
    <button
        type="button"
        class="{{ cls }} right-5"
        aria-label="next slide"
        @click="next()">
        <i data-lucide="chevron-right"></i>
    </button>

  <!-- slides -->
    <div class="relative {{ img_class }} w-full">
        {% for slide in slides %}
            <figure
                class="absolute inset-0"
                x-show="currentSlideIndex === {{ loop.index }}"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                style="display: none">
                <a href="{{ url_for(post) }}">
                    <img
                        class="absolute w-full h-full inset-0 object-contain text-neutral-600 dark:text-neutral-300"
                        src="{{ slide.imgSrc }}"
                        alt="{{ slide.imgAlt }}"
                        data-tooltip-target="post-{{ post.id }}-{{ slide.id }}-tooltip"
                        data-tooltip-placement="bottom"
                    />
                </a>
            </figure>
        {% endfor %}
    </div>

  <!-- indicators -->
    {% if slides|length > 1 %}
        <div
            class="absolute rounded-md bottom-3 md:bottom-5 left-1/2 z-20 flex -translate-x-1/2 gap-4 md:gap-3 bg-white/75 px-1.5 py-1 md:px-2 dark:bg-neutral-950/75"
            role="group" aria-label="slides">
            {% for slide in slides %}
                <button
                    @click="currentSlideIndex = {{ loop.index }}"
                    class="size-2 cursor-pointer rounded-full transition bg-neutral-600 dark:bg-neutral-300"
                    :class="currentSlideIndex === {{ loop.index }} ? 'bg-neutral-600 dark:bg-neutral-300' : 'bg-neutral-600/50 dark:bg-neutral-300/50'"
                    aria-label="slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- update tooltips -->
{% for slide in slides %}
    {% if slide.imgAlt %}
        <div
            id="post-{{ post.id }}-{{ slide.id }}-tooltip"
            role="tooltip"
            class="absolute z-10 invisible px-3 py-2 text-sm text-white bg-gray-700 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 max-w-xs text-left break-words">
            {{ slide.imgAlt }}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    {% endif %}
{% endfor %}
