{% macro render_hit(hit) %}
  <div class="my-2 border-t border-gray-200 pt-5 pb-3">
    <a href="{{ hit.url }}">
      <h3 class="text-lg font-bold text-gray-900">{{ hit.title }}</h3>

      {% if hit.summary %}
        <div class="italic text-gray-800 py-2">{{ hit.summary }}</div>
      {% endif %}

      {% if hit.date %}
        <div class="text-sm text-gray-600">
          Publié le
          <time datetime="{{ hit.date.isoformat() }}"
            >{{ hit.date.format("DD MMMM YYYY, à HH:mm", locale="fr") }}</time>
        </div>
      {% endif %}
    </a>
  </div>
{% endmacro %}

<div class="m-4">
  <h1 class="aui-title mb-6">
    {% if qs %}
      Résultats de la recherche : <span class="italic">"{{ qs }}"</span>
    {% else %}
      Rechercher
    {% endif %}
  </h1>

  {% if not qs %}
    <p class="text-gray-600">Tapez un mot-clé pour lancer une recherche.</p>
  {% else %}
    {% for result_set in result_sets %}
      <div class="mb-6">
        <h2 class="aui-title flex">
          {{ icon(result_set.icon, class="h-7 w-7 text-gray-500 mr-2") }}
          {{ result_set.label }}
          <span class="text-sm font-normal text-gray-500 ml-2">({{ result_set.count }})</span>
        </h2>

        <ul role="list" class="relative z-0 divide-y divide-gray-200">
          {% for hit in result_set.hits %}
            {{ render_hit(hit) }}
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <p class="text-gray-600">Aucun résultat.</p>
    {% endfor %}
  {% endif %}
</div>
