{% extends "layout/private.j2" %}

<!-- choices.js CSS -->
<link rel="stylesheet" href="/kyc/static/css/choices.css" />

<!-- tom-select.js CSS -->
<link rel="stylesheet" href="/kyc/static/css/tom-select.css" />

<!-- Favicons -->
<link rel="icon" href="/static/icon/icon-192x192.png" />
<link rel="shortcut icon" href="/static/icon/icon-192x192.png" />

<!-- Alpine Plugins -->
<script
  defer
  src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

<script
  defer
  src="https://unpkg.com/@colinaut/alpinejs-plugin-simple-validate@1/dist/alpine.validate.min.js"></script>

<!-- Alpine Core -->
<script
  defer
  src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
</script>
<script defer src="https://unpkg.com/hyperscript.org@0.9.4"></script>
<script>
  window.data = {};
  window.toasts = [];
</script>

{% block content %}
  <div class="py-10">
    <main>
      <div class="max-w-screen-xl mx-auto pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
        <div class="bg-white rounded shadow overflow-hidden">
          <div class="bg-gray-50 divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
            {% include "wip/fragments/left-menu.j2" %}

            <main class="bg-white pt-8 pb-16 sm:px-6 lg:px-8 lg:col-span-10">
              <div class="px-4 sm:px-0">
                {% if breadcrumbs2 is defined %}
                  <div class="text-sm mb-4 text-gray-500">
                    {% for crumb in breadcrumbs2 %}
                      <a href="{{ crumb.url }}">{{ crumb.label }}</a>&nbsp;:
                    {% endfor %}
                  </div>
                {% endif %}

                <div>
                  <h1 class="aui-title">{{ title }}</h1>

                  {% block body_content %}{% endblock %}
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
