<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex flex-row space-x-4 min-w-0">
  <div class="flex-1"> </div>
  <div class="flex-1 relative rounded-md shadow-sm">
    <div
      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
    >
      {{ icon("magnifying-glass", class="h-5 w-5 text-gray-400") }}
    </div>
    <input class="block py-2 w-full pl-10 sm:text-sm border
                border-gray-400 hover:bg-gray-50 rounded-md"
        type="search"
        name="search" placeholder="Chercher (nom, prénom, email, organisation)"
        value = "{{ searching }}"
        hx-trigger="input changed delay:1000ms, search"
        hx-post=""
        hx-swap="none"
      >
  </div>
  </div>

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="p-4">
        {% if all_search %}
        <div class="flex items-center">
          <input id="checkbox-all-search" type="checkbox"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
        {% endif %}
      </th>

      {% for column in columns %}
        <th scope="col" class="px-6 py-3">{{ column.label }}</th>
      {% endfor %}

    </tr>
    </thead>

    <tbody>
    {% for record in records %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-6 py-3">
          <a href="{{ record['show'] }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ url_label }}</a>
        </td>
        {% for column in columns %}
          <td class="whitespace-nowrap px-6 py-3 text-sm text-gray-500 {{ column.td_class }}">
            <span class="">{{ render_cell(record, column) }}</span>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div>
  <!-- Pagination -->
  <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
       aria-label="Pagination">
    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        Résultats
        <span class="font-medium">{{ start }}</span>
        à
        <span class="font-medium">{{ end }}</span>
        sur
        <span class="font-medium">{{ count }}</span>
      </p>
    </div>
    <div class="flex flex-1 justify-between sm:justify-end">
      <button
            type="button"
            class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            id="previous"
            hx-post=""
            hx-swap="none"
            hx-vals='{"action": "previous"}'
        >Précédent</button>
      <button
            type="button"
            class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            id="next"
            hx-post=""
            hx-swap="none"
            hx-vals='{"action": "next"}'
        >Suivant</button>
    </div>
  </nav>
</div>
