{% extends "wip/layout/_base.j2" %}

{% block body_content %}
<div class="border border-gray-500">
  DEBUG:<br>
  profil utilisateur: {{user_profile}}<br>
  org.type: {{org.type}}<br>
  BW actuel: {{org_bw_type}}<br>
  BW possible: {{allow_bw_string}}<br>
  is_manager: {{is_manager}}<br>
  is_bw_active: {{is_bw_active}}<br>
  <br>
  Produits:<br>
  {% for prod in prod_info %}
    <strong>name: </strong>{{prod.name}}<br>
    <strong>id: </strong>{{prod.id}}<br>
    <strong>description: </strong>{{prod.description}}<br>
    <strong>features:</strong><br>
    <ul class="list-disc pl-6">
      {% for feat in prod.features %}
      <li>{{feat}}</li>
      {% endfor %}
    </ul>
    <strong>default_price: </strong>{{prod.default_price}}<br>
    <strong>metadata: </strong>{{prod.metadata}}<br>
    <strong>tax_code: </strong>{{prod.tax_code}}<br>
    <strong>images: </strong>{{prod.images}}<br>
    <strong>url: </strong>{{prod.url}}<br>
    <hr class="mt-4">
  {% endfor %}
</div>
{% if org %}
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-end sm:space-x-5">
      {% if org.logo_url %}
        <div class="flex">
          <img
            class="h-24 w-24 ring-2 ring-gray-100 sm:h-32 sm:w-32"
            src="{{ org.logo_url }}"
            alt="Logo de l&apos;organisation"
          />
        </div>
      {% endif %}
      <div
          class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
      >
        <div class="2xl:block mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-gray-900 truncate">
            {{ org_name }}
          </h1>
        </div>
      </div>
    </div>
  </div>

  {% if is_bw_active %}
  <div class="mt-2 mb-2 font-bold italic text-gray-800">
    <p>
      Votre abonnement Aipress24 PRO actuel est: «{{ org_bw_type }}»
    </p>
  </div>
  {% if is_manager %}
    <div class="pl-0 left">
      <button
        type="button"
        hx-post="/wip/org-registration"
        hx-vals='{"action": "suspend"}'
        class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
        bg-orange-500 hover:bg-orange-600   focus:ring-orange-400
        disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
      >Suspendre l&apos;abonnement</button>
    </div>
  {% endif %}
  {% elif is_bw_inactive %}
  <div class="mt-2 mb-2 font-bold italic text-gray-800">
    <p>
      Votre abonnement Aipress24 PRO «{{ org_bw_type }}» est actuellement suspendu.
    </p>
  </div>
    {% if is_manager %}
      <div class="pl-0 left">
        <button
          type="button"
          hx-post="/wip/org-registration"
          hx-vals='{"action": "restore"}'
          class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
          bg-indigo-500 hover:bg-indigo-600 focus:ring-indigo-400
          disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
        >Reprendre l&apos;abonnement suspendu</button>
      </div>
    {% endif %}
  {% else %}
  <div class="mt-2 mb-2 font-bold italic text-gray-800">
    <p>
      Vous n'avez aucun abonnement Aipress24 PRO.
    </p>
  </div>
  {% endif %}

  <div class="mt-6">
    <h1 class="text-xl font-bold text-gray-900 truncate">
      Abonnements à Aipress PRO&nbsp:
    </h1>
  </div>

  {% if subscription_info %}
    
    <div class="mt-6">
      <h1 class="text-xl font-bold text-red-900 truncate">
        {{ subscription_info.msg }}
      </h1>
    </div>
      
  {% endif %}

  <div class="mt-2 ml-4 sm:flex sm:items-end sm:space-x-5">

    {% for prod in allowed_prod %}
    <div class="mt-3 mb-2">
      <h2 class="mb-1 font-bold text-gray-800">{{  prod.name }} (Stripe)</h2>
      <div class="pt-1 pb-2 text-gray-600">
        <p>
          {{ prod.description }}
        </p>
      <div class="pt-4 left">
        <button
          type="button"
          hx-post="/wip/org-registration"
          hx-vals='{"action": "stripe_register", "subscription": "{{prod.id}}" }'
          class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
          bg-sky-500 hover:bg-sky-600   focus:ring-sky-400
          disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50
          "
        >S&apos;abonner à «{{ prod.name }}»</button>
      </div>
    </div>
    {% endfor %}
   </div>



    <div class="mt-2 ml-4 sm:flex sm:items-end sm:space-x-5">
      {% if "MEDIA" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['MEDIA'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["MEDIA"] }}
          </p>
          <p>
            Tarif: {{ price_bw["MEDIA"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'MEDIA' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "MEDIA"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50
              {% if org_bw_type == 'MEDIA' %} disabled {% endif %}>
              "
            >S&apos;abonner à «{{ product_bw['MEDIA'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "AGENCY" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['AGENCY'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["AGENCY"] }}
          </p>
          <p>
            Tarif: {{ price_bw["AGENCY"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'AGENCY' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "AGENCY"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['AGENCY'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "PRESSUNION" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['PRESSUNION'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["PRESSUNION"] }}
          </p>
          <p>
            Tarif: {{ price_bw["PRESSUNION"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'PRESSUNION' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "PRESSUNION"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['PRESSUNION'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "COM" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw_long['COM'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["COM"] }}
          </p>
          <p>
            Tarif: {{ price_bw["COM"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'COM' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "COM"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['COM'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "CORPORATE" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['CORPORATE'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["CORPORATE"] }}
          </p>
          <p>
            Tarif: {{ price_bw["CORPORATE"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'CORPORATE' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "CORPORATE"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['CORPORATE'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "ORGANISATION" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['ORGANISATION'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["ORGANISATION"] }}
          </p>
          <p>
            Tarif: {{ price_bw["ORGANISATION"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'ORGANISATION' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "ORGANISATION"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['ORGANISATION'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "TRANSFORMER" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['TRANSFORMER'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["TRANSFORMER"] }}
          </p>
          <p>
            Tarif: {{ price_bw["TRANSFORMER"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'TRANSFORMER' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "TRANSFORMER"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['TRANSFORMER'] }}»</button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if "ACADEMICS" in allow_bw_names %}
      <div class="mt-3 mb-2">
        <h2 class="mb-1 font-bold text-gray-800">{{ product_bw['ACADEMICS'] }}</h2>
        <div class="pt-1 pb-2 text-gray-600">
          <p>
            {{ description_bw["ACADEMICS"] }}
          </p>
          <p>
            Tarif: {{ price_bw["ACADEMICS"] }}
          </p>
          <div class="pl-6 pt-4 left">
            <button
              type="button"
              {% if org_bw_type_name == 'ACADEMICS' %} disabled {% endif %}
              hx-post="/wip/org-registration"
              hx-vals='{"action": "register", "subscription": "ACADEMICS"}'
              class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
              bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
              disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >S&apos;abonner à «{{ product_bw['ACADEMICS'] }}»</button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% else %}
  <div class="prose">
    <p>
      Aucune organisation n'est renseignée.
    </p>
  </div>
{% endif %}

{% endblock %}
