{% extends "wip/layout/_base.j2" %}

{% block body_content %}
<div class="border border-gray-500">
  profile utilisateur: {{user_profile}}<br>
  org.type: {{org.type}}<br>
  BW actuel: {{org_bw_type}}<br>
  BW possible: {{allow_bw}}<br>

</div>
  {% if org_bw_type%}
    <div class="prose">
      <p>
        Votre niveau d'abonnement actuel est: {{ org_bw_type }}
      </p>
    </div>
  {% else %}
  <div class="prose">
    <p>
      Vous n'avez aucun abonnement en cours.
    </p>
  </div>
  {% endif %}

  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="sm:flex sm:items-end sm:space-x-5">
      <div class="flex">
        <img
            class="h-24 w-24 ring-2 ring-gray-100 sm:h-32 sm:w-32"
            src="{{ logo_url }}"
            alt="logo_url"
        />
      </div>
      <div
          class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
      >
        <div class="2xl:block mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-gray-900 truncate">
            {{ org_name }}
          </h1>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
