{% extends "wip/layout/_base.j2" %}

{% block body_content %}
  <div class="prose">
    <p>
      Votre niveau d'abonnement actuel ne vous permet pas de déléguer
      vos responsabilités au sein d'AIpress24.
    </p>

    <p>
      Suivez <a href="#">ce lien</a> pour vous mettre à jour vous niveau d'abonnement, et pouvoir
      ainsi gérer vos délégations de responsabilité.
    </p>
  </div>
{% endblock %}
