{% extends "wip/layout/_base.j2" %}

<style>
/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd !important;
}
</style>

{% block body_content %}
  {% if not org %}
    <div class="prose">
      <p>
        Aucune organisation n&apos;est renseignée. Vous pouvez entrer le nom d&apos;une
        organisation dans votre profil utilsateur (menu préférences/Modification du profil,
        champ &apos;Nom de l&apos;organisation&apos; ou &apos;Nom du média&apos;) depuis la
        liste proposée ou en saisissant un nouveau nom.
      </p>
    </div>
  {% elif is_auto %}
    <div class="prose">
      <p>
        Votre niveau d'abonnement actuel ne vous permet pas de gérer votre page
        institutionnelle.
      </p>
      <p>
        Allez sur la page
        <a
          class="hover:underline focus:outline-none focus:underline text-primary-600 hover:text-primary-500 text-sm font-medium"
          href="{{ url_for('wip.org-registration') }}">
            Abonnement à l'offre Aipress24 PRO
        </a>
        pour vous abonner, et pouvoir ainsi éditer votre page institutionnelle.
      </p>
    </div>
  {% elif is_bw_inactive %}
    <div class="prose">
      <p>
        Espace non disponible car l’organisation a suspendu son abonnement.
      </p>
      <p>
        Pour réactiver votre abonnement, allez sur la page
        <a
          class="hover:underline focus:outline-none focus:underline text-primary-600 hover:text-primary-500 text-sm font-medium"
          href="{{ url_for('wip.org-registration') }}">
            Abonnement à l'offre Aipress24 PRO
        </a>.
      </p>
    </div>
  {% else %}
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-end sm:space-x-5">
        <div class="flex">
          <img
            class="h-24 w-24 ring-2 ring-gray-100 sm:h-32 sm:w-32"
            src="{{ logo_url }}"
            alt="Logo de l&apos;organisation"
          />
        </div>
        <div
            class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
        >
          <div class="2xl:block mt-6 min-w-0 flex-1">
            <h1 class="text-2xl font-bold text-gray-900 truncate">
              {{ org_name }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-2">
    <p class="p-2">
      Abonnement Business Wall&nbsp;: «{{current_product_name}}».
      {% if is_manager %}
      <a class="hover:underline focus:outline-none focus:underline text-primary-600 hover:text-primary-500 text-sm font-medium"
        href="{{ url_for('wip.org-registration') }}">Gestion de l&apos;abonnement</a>.
      {% endif%}
    </p>

    {% if is_manager %}
    <div class="mt-4 flex items-center justify-end gap-x-6">
      <button
        type="button"
        id="list_leaders_button"
        data-modal-target="list_leaders_modal"
        data-modal-toggle="list_leaders_modal"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
      >Liste dirigeants</button>
      <button
        type="button"
        id="list_managers_button"
        data-modal-target="list_managers_modal"
        data-modal-toggle="list_managers_modal"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
      >Liste managers</button>
      <button
        type="button"
        id="list_users_button"
        data-modal-target="list_users_modal"
        data-modal-toggle="list_users_modal"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
      >Liste membres</button>
      <button
          type="button"
          id="list_invitations_button"
          data-modal-target="list_invitations_modal"
          data-modal-toggle="list_invitations_modal"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
      >Liste invitations</button>
    </div>
    {% endif %}

    {% if is_manager %}
      <div class="prose">
        <p class='mt-6 p-2'>
          Vous pouvez modifier les informations sur l'organisation (vous êtes manager du Business Wall de votre organisation).
        </p>
      </div>
    {% else %}
      <div class="prose">
        <p class='mt-6'>
          Modifications non permises (vous n'êtes pas manager du Business Wall de votre organisation).
        </p>
      </div>
    {% endif %}

    {% if is_manager %}
    <div class="flex items-center justify-end gap-x-6">
      <button
        type="submit"
        form="bwform"
        hx-post="/wip/org-profile"
        hx-vals='{"action": "reload_bw_data"}'
        id="reload"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >Annuler les changements</button>
      <button
        type="button"
        id="prevalid"
        data-modal-target="confirm_valid_popup"
        data-modal-toggle="confirm_valid_popup"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
    >Valider les changements</button>
    </div>


    <div id="list_users_modal"
      data-modal-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-screen-sm max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
          >Liste des membres du Business Wall de l'organisation
          </h4>
          <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
          >Pour modifier la liste des membres du Business Wall de l'organisation, ajouter ou retirer un email.
            Attention: adhésion ou radiation directe sans invitation préalable.
            Les membres doivent être des utilisateurs déjà inscrits dans Aipress24.
          </p>
          <div class="p-2">
            <form class="space-y-4" action="#">
              <div>
                <textarea name="content" id="content"
                  class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                  placeholder:text-gray-900
                  focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
                  rows="6"
                >{{ members|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
              </div>
              <div class="mt-12 flex items-center justify-end gap-x-6">
                <button
                  type="submit"
                  hx-post='/wip/org-profile'
                  hx-vals='{"action": "change_emails"}'
                  data-modal-hide="list_users_modal"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
                >Valider</button>
                <button data-modal-hide="list_users_modal"
                  type="button"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
                >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="list_managers_modal"
      data-modal-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-screen-sm max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
          >Liste des managers du Business Wall de l'organisation
          </h4>
          <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
          >Pour modifier la liste des managers du Business Wall, ajouter ou retirer un email. Les managers doivent déjà faire partie de l'organisation.
          </p>
          <div class="p-2">
            <form class="space-y-4" action="#">
              <div>
                <textarea name="content" id="content"
                  class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                  placeholder:text-gray-900
                  focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
                  rows="6"
                >{{ managers|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
              </div>
              <div class="mt-12 flex items-center justify-end gap-x-6">
                <button
                  type="submit"
                  hx-post='/wip/org-profile'
                  hx-vals='{"action": "change_managers_emails"}'
                  data-modal-hide="list_managers_modal"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
                >Valider</button>
                <button data-modal-hide="list_managers_modal"
                  type="button"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
                >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <div id="list_leaders_modal"
      data-modal-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-screen-sm max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
          >Liste des dirigeants de l'organisation
          </h4>
          <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
          >Pour modifier la listes des dirigeants, ajouter ou retirer un email. Les dirigeants doivent déjà faire partie de l'organisation.
          </p>
          <div class="p-2">
            <form class="space-y-4" action="#">
              <div>
                <textarea name="content" id="content"
                  class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                  placeholder:text-gray-900
                  focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
                  rows="6"
                >{{ leaders|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
              </div>
              <div class="mt-12 flex items-center justify-end gap-x-6">
                <button
                  type="submit"
                  hx-post='/wip/org-profile'
                  hx-vals='{"action": "change_leaders_emails"}'
                  data-modal-hide="list_leaders_modal"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
                >Valider</button>
                <button data-modal-hide="list_leaders_modal"
                  type="button"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
                >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="list_invitations_modal"
      data-modal-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-screen-sm max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
          >Liste des invitations à rejoindre le Business Wall de l'organisation
          </h4>
          <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
          >Pour modifier la liste des invitations, ajouter ou retirer un email.
            L'invitation autorise un utilisateur actuel ou futur de Aipress24 à rejoindre le Business Wall de l'organisation.
          </p>
          <div class="p-2">
            <form class="space-y-4" action="#">
              <div>
                <textarea name="content" id="content"
                  class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                  placeholder:text-gray-900
                  focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
                  rows="6"
                >{{ invitations_emails|sort|join('\n') }}</textarea>
              </div>
              <div class="mt-12 flex items-center justify-end gap-x-6">
                <button
                  type="submit"
                  hx-post='/wip/org-profile'
                  hx-vals='{"action": "change_invitations_emails"}'
                  data-modal-hide="list_invitations_modal"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
                >Valider</button>
                <button data-modal-hide="list_invitations_modal"
                  type="button"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
                >Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <!-- form -->
  <form
    x-data
    id="bwform"
    method="post"
    enctype="multipart/form-data"
    >
    {{ form.csrf_token }}
    <div class="my-1">
      <fieldset class="border border-solid border-gray-500 p-4">
        <legend>Informations sur l'organisation</legend>
        {% for field in form %}
          {% if field.name != "csrf_token" %}
            <div>
              {{ render_field(field) }}
            </div>
          {% endif %}
        {% endfor %}
      </fieldset>
    </div>
    {% if is_manager %}
      <div class="mt-12 flex items-center justify-end gap-x-6">
        <button
          type="submit"
          form="bwform"
          hx-post="/wip/org-profile"
          hx-vals='{"action": "reload_bw_data"}'
          id="reload2"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >Annuler les changements</button>
        <button
          type="button"
          id="prevalid2"
          data-modal-target="confirm_valid_popup"
          data-modal-toggle="confirm_valid_popup"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >Valider les changements</button>
      </div>

    {% endif %}

    <div id="confirm_valid_popup"
      data-modal-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="p-4 md:p-5 text-center">
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <h3 class="mb-1 text-lg font-normal text-gray-500 dark:text-gray-400"
            >Confirmer la modification des données&nbsp;?
            </h3>
            <p class="pl-14 pt-1 pb-1 mb-4 text-left ">
              organisation: {{ org_name }}
            </p>
            <button
              type="submit"
              name="change_bw_data"
              form="bwform"
              data-modal-hide="confirm_valid_popup"
              hx-include="bwform"
              id="confirm"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
            >Oui, valider</button>
            <button
              type="submit"
              form="bwform"
              hx-post="/wip/org-profile"
              hx-vals='{"action": "reload_bw_data"}'
              id="novalid"
              data-modal-hide="confirm_valid_popup"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Annuler les changements</button>
          </div>
        </div>
      </div>
    </div>

  </form>
  {% endif %}
{% endblock %}
