{% extends "wip/layout/_base.j2" %}

{% block body_content %}
  <div class="prose">
    <p>
      Votre niveau d'abonnement actuel ne vous permet pas de gérer votre page
      institutionnelle.
    </p>

    <p>Suivez <a href="#">ce lien</a> pour vous abonner à l'offre AIpress24 PRO, et pouvoir
      ainsi éditer votre page institutionnelle.</p>
  </div>
{% endblock %}
