
<style type="text/css">
    /* style to display the error message */
    .error-msg {
        color: red;
    }
</style>

<div
    class="col-span-12 w-full"
>
  <div
    x-data="{
    result: '',
    }"
    >
    <input
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
        id="{{ field.id }}"
        name="{{ field.name }}"
        {% if field.flags.required %}required{% endif %}
        {% if field.readonly %}readonly{% endif %}
        x-init="val='{{ field.data if field.data }}' || ''; $el.value=val"
        type="email"
        x-validate.email
        data-error-msg=' Entrez une adresse email valide'
    />
  </div>
</div>
