{% extends "security/base.html" %} {% from "security/_macros.html" import
render_field_with_errors, render_field %} {% block content %}
<div class="mx-auto w-full max-w-sm lg:w-96">
  <div>
    <img
      class="h-12 w-auto"
      src="/static/img/aipress24-logo-small.png"
      alt="AiPRESS24" />

    <h2 class="mt-6 text-3xl font-bold text-gray-900">
      Changement du mot de passe
    </h2>
  </div>

  <div class="mt-8">
    <div class="mt-6">
      <form
        action="{{ url_for_security('change_password') }}"
        method="POST"
        name="change_password_form"
        class="space-y-6">
        {{ change_password_form.hidden_tag() }} {{
        render_field_with_errors(change_password_form.password) }} {{
        render_field_with_errors(change_password_form.new_password) }} {{
        render_field_with_errors(change_password_form.new_password_confirm) }}
        <input
          type="submit"
          class="mt-8 w-full button ~info @high"
          value="Valider le changement" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
