{% extends "pages/preferences/_base.j2" %}

{% block main %}
  <h2 class="pb-4">Invitations à rejoindre une organisation</h2>
  {% if invitations|length > 0 %}
    {% for invit in invitations %}
      {% if invit.disabled %}
        <div>Vous êtes actuellement membre de l'organisation:</div>
        <div
          class="pt-0 items-center self-center text-left font-medium font-bold text-black">
          {{ invit.label }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if open_invitations > 0 %}
    <p class="mt-1 text-sm text-gray-500">
      {% if open_invitations > 1 %}
        Vous pouvez rejoindre le Business Wall de l'une des organisations suivantes&nbsp;:
        {% else %}
        Vous pouvez rejoindre le Business Wall d'une organisation &nbsp;:
      {% endif %}
    </p>
    <div class="grid grid-cols-2 gap-4 ">
      {% for invit in invitations %}
          {% if not invit.disabled %}
            <div
              class="pt-1 items-center self-center text-right text-sm font-medium font-bold text-gray-900 rounded-lg dark:text-gray-300">
            {{ invit.label }}
            </div>
            <button
                type="submit"
                data-modal-target="confirm_join_org"
                data-modal-toggle="confirm_join_org"
                class="mt-2 items-center px-8 py-1 border border-transparent text-xs font-small rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2
                  bg-indigo-500 hover:bg-indigo-600   focus:ring-indigo-400
                  disabled:bg-slate-500 disabled:hover:bg-slate-600 disabled:focus:ring-slate-400 disabled:opacity-50"
            >Rejoindre
            </button>

            <div id="confirm_join_org"
                 data-modal-backdrop="static"
                 tabindex="-1"
                 aria-hidden="true"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-1 text-lg font-normal text-gray-500 dark:text-gray-400"
                    >Confirmer l'adhésion au Business Wall&nbsp;:
                    </h3>
                    <p class="pt-2 pb-3 mb-4 text-center">
                      {{ invit.label }}
                    </p>
                    <button
                        data-modal-hide="confirm_join_org"
                        type="button"
                        hx-post="invitations"
                        hx-vals='{"action": "join_org", "target": "{{ invit.org_id }}" }'
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                    >Oui, rejoindre
                    </button>
                    <button
                        data-modal-hide="confirm_join_org"
                        type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                    >Annuler
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% if invitations|length > 0 %}
      <div
        class="pt-0 items-center self-center text-left font-medium font-bold text-black">
        Vous n'avez actuellement aucune invitation d'une autre organisation.
      </div>
    {% else %}
      <div
        class="pt-0 items-center self-center text-left font-medium font-bold text-black">
        Vous n'avez actuellement aucune invitation d'une organisation.
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
