{% extends "pages/preferences/_base.j2" %}

{% block main %}
  <h2>Changement de mot de passe</h2>

  <div class="max-w-lg mt-6">
    <p>Vous pouvez changer votre mot de passe ici.</p>

    <form method="POST" name="change_password_form" class="space-y-6">
      <input id="csrf_token" name="csrf_token" type="hidden"
             value="ImU3ZWNhZTg0ZWRkNWJmNzI2MmI1MzJkZTU3MzQzZTY3NGFhYjY4MWUi.Z8CjpA.xy5rMwCMmXfFurmuVwWjeuTH46s">


      <div>
        <label for="password" class="block text-sm font-medium label ~neutral">
          Mot de passe actuel
        </label>
        <div class="mt-1">

          <input autocomplete="current-password" class="field @high ~neutral" id="password" name="password"
                 type="password" value="">
        </div>
      </div>


      <div>
        <label for="new_password" class="block text-sm font-medium label ~neutral">
          Nouveau mot de passe
        </label>
        <div class="mt-1">
          <input
              autocomplete="new-password" class="field @high ~neutral" id="new_password" name="new_password"
              required="" type="password" value="">

        </div>
      </div>

      <div>
        <label for="new_password_confirm" class="block text-sm font-medium label ~neutral">
          Vérification du mot de passe
        </label>
        <div class="mt-1">

          <input
              autocomplete="new-password" class="field @high ~neutral" id="new_password_confirm"
              name="new_password_confirm" required="" type="password" value="">
        </div>
      </div>

      <input type="submit" class="mt-8 w-full button ~info @high" value="Valider le changement">
    </form>
  </div>
{% endblock %}
