<div
    x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }

                this.$refs.button.focus()

                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return

                this.open = false

                focusAfter && focusAfter.focus()
            }
        }"
    x-on:keydown.escape.prevent.stop="close($refs.button)"
    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
    x-id="['dropdown-button']"
    class="relative"
>

  <!-- Button -->
  <button
      x-ref="button"
      x-on:click="toggle()"
      :aria-expanded="open"
      :aria-controls="$id('dropdown-button')"
      type="button"
      class="tooltip tooltip-top bg-white border text-gray-600 border-gray-200 rounded px-4 py-2 focus:outline-none focus:ring-4 focus:ring-aqua-400"
      data-tip="trier"
  >
    {{ icon("bars-arrow-down", _class="h-5 w-5") }}
  </button>

  <!-- Panel -->
  <div
      x-ref="panel"
      x-show="open"
      x-transition.origin.top.left
      x-on:click.outside="close($refs.button)"
      :id="$id('dropdown-button')"
      style="display: none;"
      class="absolute left-0 mt-2 w-40 bg-white rounded shadow-md overflow-hidden"
  >
    {% for option in filter_bar.sorter.options %}
      <div>
        {% set action = {'action': 'sort-by', 'id': "sorter", 'value': option.value} %}
        <a href="#"
           hx-post="{{ request.path }}"
           hx-target="#wire-main"
           hx-vals='{{ action|tojson }}'

           class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
          {% if option.selected %}✓
          {% endif %}
          {{ option.label }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
