{#{% from "macros/selector.j2" import selector %}#}

{% macro selector(filter) %}
  <div
      x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }

            this.open = true
        },
        close(focusAfter) {
            this.open = false

            focusAfter && focusAfter.focus()
        }
    }"
      x-on:keydown.escape.prevent.stop="close($refs.button)"
      x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
      x-id="['dropdown-button']"
      class="relative"
  >
    <!-- Button -->
    <button
        x-ref="button"
        x-on:click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        type="button"
        class="bg-white border text-gray-600 border-gray-200 rounded px-4 py-2 focus:outline-none focus:ring-4 focus:ring-aqua-400"
    >
      <span>{{ filter.label }}</span>
      <span aria-hidden="true">&darr;</span>
    </button>

    <!-- Panel -->
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none;"
        class="max-h-[32rem] w-[16rem] overflow-auto absolute z-20 left-0 mt-2 bg-white border border-gray-200"
    >
      {% for option in filter.options %}
        <div>
          {% set action = {'action': 'toggle', 'type': 'selector', 'id': filter.id, 'value': option.id} %}
          <a
              href="#"
              hx-post="{{ request.path }}"
              hx-target="#wire-main"
              hx-vals='{{ action|tojson }}'
              class="block px-4 py-2 text-left text-sm hover:bg-gray-100 focus:outline-none focus:ring focus:ring-aqua-400 disabled:text-gray-500"
              aria-hidden="true">
            {{ option.label }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}


<div>
  {{ m_tab_bar(tabs) }}

  <div class="flex justify-between mb-4">

    <div class="flex items-center flex-wrap gap-2 text-gray-700">
      {% for filter in filter_bar.filters %}
        {{ selector(filter) }}
      {% endfor %}
    </div>

    <div class="flex items-center">
      {% include "pages/wire/sorter.j2" %}
    </div>

  </div>

  <div class="mb-5">
    {% for filter in filter_bar.active_filters %}
      <span
          class="inline-flex items-center rounded text-sm font-medium text-gray-600 bg-gray-200 my-1 py-1 px-2">
        <span class="">{{ filter.id }}: {{ filter.label }}</span>
        {% set action = {'action': 'remove', 'id': filter.id, 'value': filter.label} %}
        <button
            hx-post="{{ url_for(".wire", tab=tab) }}"
            hx-target="#wire-main"
            hx-vals='{{ action | tojson }}'
            class="ml-1 hover:bg-gray-300" aria-hidden="true">✖</button>
      </span>
    {% endfor %}
  </div>
</div>
