{% macro dropdown(row) %}
  <td class="px-4 py-3 flex items-center justify-end">
    <button
        id="{{ row.id }}-dropdown-button" data-dropdown-toggle="{{ row.id }}-dropdown"
        class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
        type="button">

      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path
            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
      </svg>
    </button>

    <div
        id="{{ row.id }}-dropdown"
        class="hidden bg-white z-100 border border-gray-200 w-44 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul
          class="py-1 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="{{ row.id }}-dropdown-button">
        {% for action in row.get_actions() %}
          <li>
            <a href="{{ action.url }}"
               class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ action.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </td>
{% endmacro %}


{% set actions = row.get_actions() %}

{# TODO:
First column:   <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Apple iMac
    27&#34;
  </th>
#}

<tr class="bg-white border-b border-gray-300">
  {% for cell in row.get_cells() %}
    <td class="{{ cell.class }} px-6 py-4 text-sm text-gray-500">
      <div class="flex">
        {{ cell.render() }}
      </div>
    </td>
  {% endfor %}

  {% if actions %}
    {{ dropdown(row) }}
    {#  <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">#}
    {#    {% for action in actions %}#}
    {#      <a class="underline text-blue-700" href="{{ action.url}}">{{ action.label }}</a>#}
    {#    {% endfor %}#}
    {#  </td>#}
  {% endif %}
</tr>
