[default]
SITE_TITLE = "Aipress24"

#
# SQLAlchemy
#
SQLALCHEMY_TRACK_MODIFICATIONS = false
# SQLALCHEMY_DATABASE_URI = "@format {this.DB.URI}"
# SQLALCHEMY_ENGINE_OPTIONS = { max_overflow = 3, pool_size = 2 }
# SQLALCHEMY_ECHO = true

#
# Sessions
#
SESSION_TYPE = "filesystem"

#
# Security
#

# set to false when going live
UNSECURE = true

SECURITY_URL_PREFIX = "/auth"
SECURITY_REGISTERABLE = false
SECURITY_RECOVERABLE = true
SECURITY_PASSWORD_COMPLEXITY_CHECKER = "zxcvbn"
SECURITY_PASSWORD_CHECK_BREACHED = "strict"

SECURITY_EMAIL_SENDER = "contact@aipress24.com"

# flask_security
SECURITY_TRACKABLE = true

SECURITY_CHANGEABLE = true
SECURITY_CHANGE_PASSWORD_TEMPLATE = "security/change_password.html"

SECURITY_CHANGE_EMAIL = true
SECURITY_CHANGE_EMAIL_TEMPLATE = "security/change_email.html"
# SECURITY_CHANGE_EMAIL_SUBJECT
# SECURITY_POST_CHANGE_EMAIL_VIEW
# SECURITY_CHANGE_EMAIL_ERROR_VIEW


# SECURITY_USER_IDENTITY_ATTRIBUTES = "TODO"

SESSION_COOKIE_SAMESITE = "Lax"
SESSION_COOKIE_SECURE = true


#
# Misc
#
FORMS_DIR = "src/app/forms"


#
# RQ
#
RQ_ASYNC = true
RQ_QUEUES = ["default", "low"]
REDIS_URL = "redis://localhost:6379/0"
RQ_DASHBOARD_REDIS_URL = "@format {this.REDIS_URL}"

#
# Email
#
MAIL_PORT = 587
MAIL_USE_TLS = true
MAIL_DEFAULT_SENDER = "test@aipress24.com"

# Gandi
# MAIL_PORT = 587
MAIL_USERNAME = "test@aipress24.com"
# MAIL_PASSWORD = "world_top_secret_password"
MAIL_SERVER = "mail.gandi.net"

# For Scaleway
#MAIL_SERVER = "smtp.tem.scw.cloud"
#MAIL_USERNAME = "cab48075-4f3c-407b-95e6-c086b435c16e"


#S3_BUCKET_NAME = "aipress24-public"
#S3_PUBLIC_URL = "https://aipress24-public.s3.fr-par.scw.cloud"
#
#S3_REGION_NAME = "fr-par"
#S3_URL = "https://s3.fr-par.scw.cloud"

#
# S3
#
S3_REGION_NAME = ""
S3_BUCKET_NAME = "aipress24-images"
S3_URL = "https://s3.gra.io.cloud.ovh.net/"
S3_PUBLIC_URL = "https://aipress24-images.s3.gra.io.cloud.ovh.net/"


[default.CONTENT_SECURITY_POLICY]
default-src = "'none'"
img-src = ["*", "data:"]
font-src = [
    "'self'",
    "data:",
    # TODO: remove
    "https://cdnjs.cloudflare.com/",
    "https://fonts.gstatic.com/",
    "https://use.fontawesome.com/",
]
style-src = [
    "'self'",
    "'unsafe-inline'",
    # TODO: remove
    "https://cdnjs.cloudflare.com/",
    "https://fonts.googleapis.com/",
    "https://cdn.jsdelivr.net/",
    "https://use.fontawesome.com/",
    "https://rsms.me/",
]
connect-src = [
    "'self'",
    "https://sentry.io/",
    "https://shynet.aipress24.com/",
    "https://cdn.userfront.com/",
    "https://api.userfront.com/",
    "https://api.anymod.com",
]
object-src = "'none'"
script-src = [
    "'self'",
    "'unsafe-inline'",
    "'unsafe-eval'",
    # Used
    "https://sentry.io/",
    # Userfront
    "https://api.userfront.com/",
    "https://cdn.userfront.com/",
    "https://api.anymod.com",
    # Analytics
    # TODO
    # CDNs - TODO: remove
    "https://cdn.jsdelivr.net/",
    "https://cdnjs.cloudflare.com/",
    "https://unpkg.com/",
    "https://cdn.tailwindcss.com/",
    # Stripe
    "https://js.stripe.com/",
]
worker-src = ["'self'", "blob:"]
frame-src = [
    "'self'",
    "blob:",
    "https://www.google.com/",
    "https://js.stripe.com/",
]
base-uri = "'none'"
form-action = "'self'"


[development]
#SERVER_NAME = "aipress24.dev:5000"
SERVER_NAME = "127.0.0.1:5000"
# SERVER_NAME = "localhost:5000"
# PREFERRED_URL_SCHEME = "http"

DB.HOST = "localhost"
DB.DATABASE = "aipress24"
DB.USER = ""
DB.PASSWORD = ""
DB.URI = "@format postgresql://{this.DB.USER}:{this.DB.PASSWORD}@{this.DB.HOST}/{this.DB.DATABASE}"

SECRET_KEY = "PhTYwoqiuweOljl9AmQPqM"

DEBUG_TB_ENABLED = true
DEBUG_TB_INTERCEPT_REDIRECTS = false

# MAIL_BACKEND = 'locmem'
MAIL_BACKEND = 'file'
MAIL_FILE_PATH = '/tmp/debug_mails'

#TORAGE_ROOT = "/var/tmp/aip24"

# Using Minio locally to emulate S3 server:
# local bucker created with :
# mc alias set s3 http://127.0.0.1:9000 minioadmin minioadmin
# mc mb s3/aipress24-images --region fr-paris
S3_ACCESS_KEY_ID = "minioadmin"
S3_SECRET_ACCESS_KEY = "minioadmin"
S3_ENDPOINT_URL = "http://127.0.0.1:9000"
S3_BUCKET_NAME = "aipress24-images"
S3_REGION_NAME = "fr-paris"
# Required for non-HTTPS connection to MinIO
S3_USE_SSL = false


[production]
SERVER_NAME = "aipress24.demo.abilian.com"
PREFERRED_URL_SCHEME = "https"
DEBUG_TB_ENABLED = false
