<div class="sm:col-span-{{ field.width }}">
  <label for="{{ field.id }}" class="dui-label">
    <span class="aui-label-text">{{ field.label }}</span>
  </label>

  <input
      type="text" name="{{ field.id }}" id="{{ field.id }}"
      value="{{ field.value }}"
      class="dui-input dui-input-bordered w-full">
</div>
