<div class="sm:col-span-{{ field.width }}">
  <label for="{{ field.id }}" class="dui-label">
    <span class="aui-label-text">{{ field.label }}</span>
  </label>

  <div class="flex rounded-md shadow-sm">
    <input
        type="time" name="{{ field.id }}" id="{{ field.id }}" autocomplete="given-name"
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
  </div>
</div>
