{% extends "layout/public.j2" %}

{% block content %}
  <div class="mt-24 p-8">
    <div class="max-w-3xl mx-auto my-auto prose lg:prose-lg">

      <h2>Backdoor for testers</h2>

      <p>Testeur, connectez-vous en tant que:</p>

      <ul>
        <li><a href="{{ url_for(".backdoor_login", role="press_media") }}">Press & Media</a></li>
        <li><a href="{{ url_for(".backdoor_login", role="press_relations") }}">Press relations</a></li>
        <li><a href="{{ url_for(".backdoor_login", role="expert") }}">Expert</a></li>
        <li><a href="{{ url_for(".backdoor_login", role="transformer") }}">Transformer</a></li>
        <li><a href="{{ url_for(".backdoor_login", role="academic") }}">Academic</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
