{% extends "layout/public.j2" %}

{% block content %}
  <div class="mt-48 p-8">
    <div class="max-w-3xl mx-auto my-auto prose lg:prose-xl">

      <h2>Backdoor for tester: {{ role }}</h2>

      <p>Vous allez vous connecter avec le rôle: "<b>{{ role }}</b>"</p>

    </div>
  </div>

  <div class="bg-white py-96"></div>
{% endblock %}
