{% extends "layout/public.j2" %}

{% block content %}
  <nav class="border-b border-gray-200 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="flex-shrink-0 flex items-center">
            <a hx-boost="true" href="/"><img
                class="block lg:hidden h-8 w-auto" src="/static/img/aipress24-picto.png"
                alt="AIpress24"><img
                class="hidden lg:block h-8 w-auto"
                src="/static/img/aipress24-logo-small.png"
                alt="AIpress24"></a>
          </div>

          <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">

            <a hx-boost="true" href="/wire/"
               class="uppercase tooltip tooltip-bottom text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-semibold border-red-500 border-b-2"
               aria-current="page" data-tip="Mon fil d'actu">Wire</a>


            <a hx-boost="true" href="/wip/"
               class="uppercase tooltip tooltip-bottom text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-semibold "
               aria-current="page" data-tip="Mon espace de travail (Work In Progress)">WIP</a>


            <a hx-boost="true" href="/events/"
               class="uppercase tooltip tooltip-bottom text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-semibold "
               aria-current="page" data-tip="Evénements">Events</a>


            <a hx-boost="true" href="/biz/"
               class="uppercase tooltip tooltip-bottom text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-semibold "
               aria-current="page" data-tip="Place de marché">Biz</a>


            <a hx-boost="true" href="/swork/"
               class="uppercase tooltip tooltip-bottom text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-semibold "
               aria-current="page" data-tip="Réseau social professionel">Swork</a>

          </div>

        </div>

        <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
          <div class="max-w-lg w-full lg:max-w-xs"><label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <!-- icon: outline/search -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>

              </div>
              <form action="/search/">
                <input id="qs" name="qs"
                       class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 sm:text-sm"
                       placeholder="Rechercher" type="search">
              </form>
            </div>
          </div>
        </div>


        <div class="hidden sm:ml-6 sm:flex sm:items-center">

          <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter &amp;&amp; focusAfter.focus();
        }
    }" x-on:keydown.escape.prevent.stop="close($refs.button)"
               x-on:focusin.window="! $refs.panel.contains($event.target) &amp;&amp; close()" x-id="['dropdown-button']"
               class="relative indicator ">


            <button type="button" aria-haspopup="true" aria-expanded="false"
                    class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
              <span class="sr-only">Open user menu</span>
              <!-- icon: outline/credit-card -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
              </svg>

            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left="" x-on:click.outside="close($refs.button)"
                 :id="$id('dropdown-button')" style="display: none"
                 class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg">

              <div class="block w-32 px-4 py-2 text-sm font-medium text-gray-600">
                Vous avez 123 MOJO sur votre compte.
              </div>

            </div>
          </div>


          <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter &amp;&amp; focusAfter.focus();
        }
    }" x-on:keydown.escape.prevent.stop="close($refs.button)"
               x-on:focusin.window="! $refs.panel.contains($event.target) &amp;&amp; close()" x-id="['dropdown-button']"
               class="relative indicator ">


            <button type="button" aria-haspopup="true" aria-expanded="false"
                    class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
              <span class="sr-only">Open user menu</span>
              <!-- icon: outline/sparkles -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
              </svg>

            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left="" x-on:click.outside="close($refs.button)"
                 :id="$id('dropdown-button')" style="display: none"
                 class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg">

              <div class="block w-32 px-4 py-2 text-sm font-medium text-gray-600">
                Vous avez 12123 points de performance.
              </div>

            </div>
          </div>


          <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter &amp;&amp; focusAfter.focus();
        }
    }" x-on:keydown.escape.prevent.stop="close($refs.button)"
               x-on:focusin.window="! $refs.panel.contains($event.target) &amp;&amp; close()" x-id="['dropdown-button']"
               class="relative indicator ">

            <div class="indicator-item badge ~positive">99+</div>


            <button type="button" aria-haspopup="true" aria-expanded="false"
                    class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
              <span class="sr-only">Open user menu</span>
              <!-- icon: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
              </svg>

            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left="" x-on:click.outside="close($refs.button)"
                 :id="$id('dropdown-button')" style="display: none"
                 class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg">

              <div class="block w-64 px-4 py-4 text-sm font-medium text-gray-600">
                <div class="flow-root">
                  <ul role="list" class="-mb-8">
                    <li>
                      <div class="relative pb-8">
                        <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex space-x-3">
                          <div>
            <span class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white">
              <!-- Heroicon name: solid/user -->
              <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
                          </div>
                          <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                              <p class="text-sm text-gray-500">Applied to <a href="#" class="font-medium text-gray-900">Front
                                End
                                Developer</a></p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                              <time datetime="2020-09-20">Sep 20</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="relative pb-8">
                        <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex space-x-3">
                          <div>
            <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
              <!-- Heroicon name: solid/hand-thumb-up -->
              <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   aria-hidden="true">
                <path
                    d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
              </svg>
            </span>
                          </div>
                          <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                              <p class="text-sm text-gray-500">Advanced to phone screening by <a href="#"
                                                                                                 class="font-medium text-gray-900">Bethany
                                Blake</a></p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                              <time datetime="2020-09-22">Sep 22</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="relative pb-8">
                        <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex space-x-3">
                          <div>
            <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
                          </div>
                          <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                              <p class="text-sm text-gray-500">Completed phone screening with <a href="#"
                                                                                                 class="font-medium text-gray-900">Martha
                                Gardner</a></p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                              <time datetime="2020-09-28">Sep 28</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="relative pb-8">
                        <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                        <div class="relative flex space-x-3">
                          <div>
            <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
              <!-- Heroicon name: solid/hand-thumb-up -->
              <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   aria-hidden="true">
                <path
                    d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
              </svg>
            </span>
                          </div>
                          <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                              <p class="text-sm text-gray-500">Advanced to interview by <a href="#"
                                                                                           class="font-medium text-gray-900">Bethany
                                Blake</a></p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                              <time datetime="2020-09-30">Sep 30</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="relative pb-8">
                        <div class="relative flex space-x-3">
                          <div>
            <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                   aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
                          </div>
                          <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                            <div>
                              <p class="text-sm text-gray-500">Completed interview with <a href="#"
                                                                                           class="font-medium text-gray-900">Katherine
                                Snyder</a></p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-gray-500">
                              <time datetime="2020-10-04">Oct 4</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>


          <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter &amp;&amp; focusAfter.focus();
        }
    }" x-on:keydown.escape.prevent.stop="close($refs.button)"
               x-on:focusin.window="! $refs.panel.contains($event.target) &amp;&amp; close()" x-id="['dropdown-button']"
               class="relative indicator ml-8 mr-4">


            <button type="button" aria-haspopup="true" aria-expanded="false"
                    class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
              <span class="sr-only">Open user menu</span>
              <!-- icon: outline/plus -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
              </svg>

            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left="" x-on:click.outside="close($refs.button)"
                 :id="$id('dropdown-button')" style="display: none"
                 class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg">

              <div class="block w-64 px-4 py-4 text-sm font-medium text-gray-600">
                <div>

                  <a href="/wip/create_content?type=article"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Rédiger
                    un article</a>

                  <a href="/wip/create_content?type=avis-enquete"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Créer
                    un avis d'enquête</a>

                  <a href="/wip/create_content?type=call-for-witnesses"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Créer
                    un appel à témoins</a>

                  <a href="/wip/create_content?type=image"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Téléverser
                    une image</a>

                  <a href="/wip/create_content?type=video"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Téléverser
                    une vidéo</a>

                  <a href="/wip/create_content?type=press-release"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Rédiger
                    un communiqué</a>

                  <a href="/wip/create_content?type=press-event"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Annoncer
                    un événement presse</a>

                  <a href="/wip/create_content?type=public-event"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Annoncer
                    un événement public</a>

                  <a href="/wip/create_content?type=training-event"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Annoncer
                    une formation</a>

                  <a href="#"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Publier
                    une petite annonce</a>

                  <a href="#"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Publier
                    un appel d'offres</a>

                  <a href="#"
                     class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">Publier
                    une proposition de partenariat</a>

                </div>
              </div>

            </div>
          </div>


          <div x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter &amp;&amp; focusAfter.focus();
        }
    }" x-on:keydown.escape.prevent.stop="close($refs.button)"
               x-on:focusin.window="! $refs.panel.contains($event.target) &amp;&amp; close()" x-id="['dropdown-button']"
               class="ml-3 relative">
            <button type="button" aria-haspopup="true" aria-expanded="false"
                    class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left="" x-on:click.outside="close($refs.button)"
                 :id="$id('dropdown-button')" style="display: none"
                 class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg">
              <div>

                <a href="/swork/profile/"
                   class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                  Mon profil
                </a>

                <a href="/preferences"
                   class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                  Préférences
                </a>

                <a href="/admin/"
                   class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                  Backoffice
                </a>

                <a href="/biz/purchases/"
                   class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                  Mes achats
                </a>

                <a href="/auth/logout"
                   class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100">
                  Déconnexion
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {{ content|safe }}

{% endblock %}
