<div class="align-left">
  {% for item in nav_create_menu %}
    <a href="{{ item.url }}"
       class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
    >{{ item.label }}</a>
  {% endfor %}
</div>
