<!-- HTMX + Flowbite -->
<script>
  document.addEventListener('htmx:afterSwap', (event) => {
    // Probably not needed.
    // window.Alpine.initTree(event.target);
    initFlowbite();
  });
</script>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>

<!-- Alpine components -->
{# TODO: use a registry #}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('carousel', (carouselData = {
      slides: [],
    },) => ({
      slides: carouselData.slides,
      currentSlideIndex: 1,
      previous() {
        if (this.currentSlideIndex > 1) {
          this.currentSlideIndex = this.currentSlideIndex - 1
        } else {
          // If it's the first slide, go to the last slide
          this.currentSlideIndex = this.slides.length
        }
      },
      next() {
        if (this.currentSlideIndex < this.slides.length) {
          this.currentSlideIndex = this.currentSlideIndex + 1
        } else {
          // If it's the last slide, go to the first slide
          this.currentSlideIndex = 1
        }
      },
    }));
  });
</script>
