{% macro simple_dropdown(icon_name, count=0, class="") %}
  <div
      x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close();
            }
            this.open = true;
        },
        close(focusAfter) {
            this.open = false;
            focusAfter && focusAfter.focus();
        }
    }"
      x-on:keydown.escape.prevent.stop="close($refs.button)"
      x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
      x-id="['dropdown-button']"
      class="relative indicator {{ class }}"
      xmlns:x-on="http://www.w3.org/1999/xhtml">
    {% if count %}
      <div class="indicator-item badge ~positive">{{ count }}</div>
    {% endif %}

    <button
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500"
        x-ref="button"
        x-on:click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
    >
      <span class="sr-only">Open user menu</span>
      {{ icon(icon_name, type="outline", class="h-6 w-6") }}
    </button>

    <!-- Panel -->
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none"
        class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg"
    >
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

<div class="hidden sm:ml-6 sm:flex sm:items-center">
  {#  {% call simple_dropdown("credit-card") %}#}
  {#    <div class="block w-32 px-4 py-2 text-sm font-medium text-gray-600"#}
  {#         data-tip="Mes comptes">#}
  {#      Vous avez 123 MOJO sur votre compte.#}
  {#    </div>#}
  {#  {% endcall %}#}
  {##}
  {#  {% call simple_dropdown("sparkles") %}#}
  {#    <div class="block w-32 px-4 py-2 text-sm font-medium text-gray-600"#}
  {#         data-tip="Mes performances">#}
  {#      Vous avez 12123 points de performance.#}
  {#    </div>#}
  {#  {% endcall %}#}
  {##}
  {#  {% set notifications=get_notifications() %}#}
  {#  {% set notification_count=notifications|length %}#}
  {#  {% call simple_dropdown("bell", count=notification_count) %}#}
  {#    {% if notifications %}#}
  {#      <div class="block w-64 px-4 py-4 text-sm font-medium text-gray-600"#}
  {#           data-tip="Mes notifications">#}
  {#        {% include "fragments/dropdown-notifications.j2" %}#}
  {#      </div>#}
  {#    {% endif %}#}
  {#  {% endcall %}#}
  {##}
  {#  {% call simple_dropdown("plus", class="ml-4") %}#}
  {#    <div class="block w-64 px-4 py-4 text-sm font-medium text-gray-600"#}
  {#         data-tip="Nouveau contenu / projet éditorial">#}
  {#      {% include "fragments/dropdown-add.j2" %}#}
  {#    </div>#}
  {#  {% endcall %}#}

  {% if g.user.has_role("admin") %}
    <a href="/admin/" class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 tooltip tooltip-bottom"
       data-tip="Admin">
      {{ icon("cog-6-tooth", type="outline", class="h-6 w-6") }}
    </a>
  {% endif %}

  <!-- "Profile" dropdown -->
  <div
      x-data="{
          open: false,
          toggle() {
              if (this.open) {
                  return this.close();
              }
              this.open = true;
          },
          close(focusAfter) {
              this.open = false;
              focusAfter && focusAfter.focus();
          }
      }"
      x-on:keydown.escape.prevent.stop="close($refs.button)"
      x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
      x-id="['dropdown-button']"
      class="ml-3 relative"
  >
    <button
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        class="max-w-xs bg-white flex items-center text-sm rounded-full"
        x-ref="button"
        x-on:click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
    >
      <span class="sr-only">Open user menu</span>
      {{ profile_image(g.user, size=8) }}
    </button>

    <!-- Panel -->
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none"
        class="absolute z-20 right-0 mt-2 bg-white border border-gray-200 rounded shadow-lg"
    >
      <div>
        {% for item in menus.user %}
          <a
              href="{{ item.url }}"
              class="block px-4 py-2 text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
          >
            {{ item.label }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
