{# Styled AiPRESS24 wordmark: bold, with a red lowercase "i". Inline
   styles for email-client compatibility. #}
{%- set AIPRESS24 -%}
<strong>A<span style="color:#E30613">i</span>PRESS24</strong>
{%- endset -%}
<p>
Bonjour,
</p>

<p>
Un avis d'enquête vient d'être diffusé par un journaliste membre d'{{ AIPRESS24 }} :
</p>

<p>
<strong>Emetteur :</strong> {{ sender_full_name }}, {{ sender_job }}
</p>
<p>
<strong>Organisation :</strong> {{ bw_name }}
</p>
<p>
<strong>Sujet :</strong> {{ abstract }}
</p>

<p>
Pour participer à cette enquête journalistique, connectez-vous à {{ AIPRESS24 }}, puis collez le lien ci-dessous dans une nouvelle fenêtre :
</p>
<p>
URL: {{ url }}
</p>


<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
