<p>
Bonjour,
</p>

<p>
Un avis d'enquête vient d'être diffusé:
</p>

<p>
Emetteur: {{ sender_full_name }}, {{ sender_job }}
</p>
<p>
Organisation: {{ bw_name }}
</p>
<p>
Sujet: {{ abstract }}
</p>
<p>
URL: {{ url }}
</p>


<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
