<p>
Bonjour,
</p>

<p>
{{ sender_full_name }} vous invite à rejoindre mon groupe <strong>{{bw_name}}</strong> sur AiPRESS24, le workspace des médias.
Adhérer à AiPRESS24 sera, pour vous, l’occasion de développer votre notoriété et d’entrer au cœur des rédactions.
</p>

<p>
Pour vous inscrire gratuitement sur AiPRESS24, cliquez sur ce lien:
<a href="https://aipress24.com/kyc/">Inscription sur Aipress.com</a>
</p>

<p>
À très bientôt.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
