<p>
Bonjour,
</p>

<p>
{{ sender_full_name }} ({{ client_name }}) vous invite à un partenariat
RP&nbsp;: votre PR Agency devient partenaire externe du Business Wall
<strong>{{ bw_name }}</strong> sur AiPRESS24.
</p>

<p>
En tant que partenaire, vous pourrez publier (communiqués, événements,
etc.) pour le compte de <strong>{{ client_name }}</strong>.
</p>

<p>
Pour confirmer ce partenariat, cliquez sur le lien suivant&nbsp;:<br>
<a href="{{ confirmation_url }}">{{ confirmation_url }}</a>
</p>

<p>
Vous pouvez aussi le retrouver dans
PROFIL&nbsp;/&nbsp;PRÉFÉRENCES&nbsp;/&nbsp;Invitations d'organisations.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
