<p>
Bonjour,
</p>

<p>
{{ sender_full_name }} vous invite à prendre le rôle de <strong>{{role}}</strong> pour l'organisation {{bw_name}} sur AiPRESS24, le workspace des médias.
</p>

<p>
Pour accepter ou décliner cette invitation:<br>
- Connexion sur AiPRESS24:
<a href="https://aipress24.com/">Aipress24.com</a><br>
- Page de confirmation de l'invitation:
<a href="{{ confirmation_url }}">Confirmation du rôle {{role}}</a>
</p>

<p>
À très bientôt.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
