<p>
Bonjour,
</p>

<p>
Vous venez d'acquérir les droits de reproduction pour une publication
de l'article <strong>« {{ article_title }} »</strong> de
<strong>{{ author_full_name }}</strong> de chez
<strong>{{ media_name }}</strong> pour la somme de
<strong>{{ amount_ht_eur }} € HT</strong>.
</p>

<p>
Nous vous en félicitons.
</p>

<p>
La somme sera facturée et débitée en fin de mois sur le compte de votre
organisation. Le récapitulatif de vos achats éditoriaux est disponible
dans WORK / Achats sur AiPRESS24.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
