<p>
Bonjour,
</p>

<p>
Un expert a répondu à votre avis d'enquête:
</p>

<p>
Avis d'enquête: {{ title }}
</p>

<p>
Expert: {{ sender_name }}
</p>

<p>
Réponse: {{ response }}
</p>

<p>
Notes: {{ notes }}
</p>


<p>
Envoyé par {{ sender_name }} via le site aipress24.com.
</p>
