<p>
Bonjour,
</p>

<p>
Un expert accepte un RDV pour une enquête:
</p>

<p>
Avis d'enquête: {{ title }}
</p>

<p>
Expert: {{ sender_name }}
</p>

<p>
Date du RDV: {{ date_rdv }}
</p>

<p>
Notes: {{ notes }}
</p>

<p>
Envoyé par {{ sender_name }} via le site aipress24.com.
</p>
