<p>
Bonjour,
</p>

<p>
L'expert {{ sender_full_name }} a annulé le rendez-vous pour l'avis d'enquête.
</p>

<p>
Avis d'enquête: {{ title }}
</p>

<p>
Date du RDV annulé: {{ date_rdv }}.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
