<p>
Bonjour,
</p>

<p>
L'expert {{ sender_full_name }} a refusé les créneaux de rendez-vous proposés pour l'avis d'enquête.
</p>

<p>
Avis d'enquête: {{ title }}
</p>

<p>
Notes: {{ notes }}
</p>

<p>
Vous pouvez proposer de nouveaux créneaux depuis le site.
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
