<p>
    Bonjour,
</p>

<p>
    Un signalement de contenu a été effectué sur aipress24.com
</p>

<p>
    Type de contenu: {{ post_type }} (ID: {{ post_id }})
</p>

<p>
    Titre: {{ post_title }}
</p>

<p>
    Auteur / Organisation: {{ post_author_name }}
</p>

<p>
    Lien vers le contenu: {{ post_url }}
</p>

<p>
    Motif du signalement: {{ reason_label }}
</p>

<p>
    Détails: {{ message }}
</p>

<p>
    Signalé par: {{ reporter_name }} {{ reporter_email }}
</p>

<p>
    Message généré automatiquement suite au signalement d'un utilisateur.
</p>
