<p>
Bonjour,
</p>

<p>
Un journaliste vous confirme un RDV pour une enquête:
</p>

<p>
Avis d'enquête: {{ title }}
</p>

<p>
Journaliste: {{ sender_full_name }}
</p>

<p>
Type de RDV: {{ rdv_type }}
</p>

<p>
{{ rdv_info }}
</p>

<p>
Date du RDV: {{ date_rdv }}
</p>

<p>
Notes: {{ notes }}
</p>

<p>
Envoyé par {{ sender_mail }} via le site aipress24.com.
</p>
