<p>
Bonjour {{ recipient_full_name }},
</p>

<p>
Petit rappel&nbsp;: l'événement <strong>« {{ event_title }} »</strong>,
auquel vous êtes accrédité.e, a lieu demain, le {{ event_date }}.
</p>

{% if access_details %}
  <p>
  <strong>Modalités d'accès&nbsp;:</strong><br>
  {{ access_details }}
  </p>

  <p>
  Ces informations vous sont réservées en tant que personne accréditée.
  Merci de ne pas les diffuser.
  </p>
{% endif %}

<p>
Le lieu et le détail à jour sont sur sa page&nbsp;:
<a href="{{ event_url }}">{{ event_url }}</a>.
</p>

<p>
Si vous ne pouvez finalement pas y assister, vous pouvez vous
désinscrire depuis cette même page&nbsp;: cela libère votre place.
</p>

<p>
L'équipe AiPRESS24
</p>
