/* Unstyled */
.tooltip {
    @apply inline-block relative;
    --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
}

.tooltip:before {
    @apply absolute;
    pointer-events: none;
}

.tooltip:before {
    content: attr(data-tip);
    text-transform: none;
}

.tooltip {
    &:before {
        transform: translateX(-50%);
        top: auto;
        left: 50%;
        right: auto;
        bottom: var(--tooltip-offset);
    }
}

.tooltip-bottom {
    &:before {
        transform: translateX(-50%);
        top: var(--tooltip-offset);
        left: 50%;
        right: auto;
        bottom: auto;
    }
}

.tooltip-left {
    &:before {
        transform: translateY(-50%);
        top: 50%;
        left: auto;
        right: var(--tooltip-offset);
        bottom: auto;
    }
}

.tooltip-right {
    &:before {
        transform: translateY(-50%);
        top: 50%;
        left: var(--tooltip-offset);
        right: auto;
        bottom: auto;
    }
}

/* Styled */
.tooltip {
    text-transform: none;
    @apply inline-block relative text-center;
    --tooltip-tail: 3px;
    --tooltip-color: black;
    --tooltip-text-color: white;
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
}

.tooltip:before,
.tooltip:after {
    @apply opacity-0 transition delay-100 duration-200 ease-in-out;
}

.tooltip:after {
    @apply absolute;
}

.tooltip:before {
    @apply rounded text-sm px-2 max-w-xs py-1;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
    @apply opacity-100 delay-75;
}

.tooltip:after {
    content: "";
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
    display: block;
    position: absolute;
}

.tooltip {
    &:after {
        transform: translateX(-50%);
        border-color: var(--tooltip-color) transparent transparent transparent;
        top: auto;
        left: 50%;
        right: auto;
        bottom: var(--tooltip-tail-offset);
    }
}

.tooltip-bottom {
    &:after {
        transform: translateX(-50%);
        border-color: transparent transparent var(--tooltip-color) transparent;
        top: var(--tooltip-tail-offset);
        left: 50%;
        right: auto;
        bottom: auto;
    }
}

.tooltip-left {
    &:after {
        transform: translateY(-50%);
        border-color: transparent transparent transparent var(--tooltip-color);
        top: 50%;
        left: auto;
        right: calc(var(--tooltip-tail-offset) + 1px);
        bottom: auto;
    }
}

.tooltip-right {
    &:after {
        transform: translateY(-50%);
        border-color: transparent var(--tooltip-color) transparent transparent;
        top: 50%;
        left: calc(var(--tooltip-tail-offset) + 1px);
        right: auto;
        bottom: auto;
    }
}

.tooltip {
    &-primary {
        --tooltip-color: hsl(var(--p));
        --tooltip-text-color: hsl(var(--pc));
    }

    &-secondary {
        --tooltip-color: hsl(var(--s));
        --tooltip-text-color: hsl(var(--sc));
    }

    &-accent {
        --tooltip-color: hsl(var(--a));
        --tooltip-text-color: hsl(var(--ac));
    }

    &-info {
        --tooltip-color: hsla(var(--in) / 0.1);
        --tooltip-text-color: hsl(var(--in));
    }

    &-success {
        --tooltip-color: hsla(var(--su) / 0.1);
        --tooltip-text-color: hsl(var(--su));
    }

    &-warning {
        --tooltip-color: hsla(var(--wa) / 0.1);
        --tooltip-text-color: hsl(var(--wa));
    }

    &-error {
        --tooltip-color: hsla(var(--er) / 0.1);
        --tooltip-text-color: hsl(var(--er));
    }
}

.indicator {
    display: inline-flex;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.indicator .indicator-item {
    z-index: 1;
    position: absolute;
    --tw-translate-x: 0;
    --tw-translate-x: 50%;
    --tw-translate-y: 0;
    --tw-translate-y: -50%;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x))
        translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
}
