<section aria-labelledby="activity-title" class="mt-8 xl:mt-10">
  <div>
    <div class="divide-y divide-gray-200">
      <div class="pb-4">
        <h2
            id="comments-title"
            class="text-lg font-medium text-gray-900"
        >
          Commentaires
        </h2>
      </div>

      <div class="pt-6">
        <!-- Activity feed-->
        <div class="flow-root">
          <ul role="list" class="-mb-8">
            {% for comment in post.comments %}
              <li>
                <div class="relative pb-8">
                <span
                    class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200"
                    aria-hidden="true"
                ></span>
                  <div class="relative flex items-start space-x-3">
                    <a href="{{ url_for(comment.owner) }}" class="relative">
                      {{ profile_image(comment.owner, size=10, class="bg-gray-400 flex items-center justify-center") }}

                      <span
                          class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px"
                      >
                        {{ icon("chat-bubble-left-ellipsis", class="h-5 w-5 text-gray-400") }}
                      </span>
                    </a>

                    <div class="min-w-0 flex-1">
                      <div>
                        <div class="text-sm">
                          <a href="{{ url_for(comment.owner) }}" class="font-medium text-gray-900"
                          >{{ comment.owner.full_name }}</a
                          >
                        </div>

                        <p class="mt-0.5 text-sm text-gray-500">
                          A commenté {{ comment.created_at.format("le DD MMMM YYYY, à HH:mm", locale="fr") }}
                        </p>
                      </div>

                      <div class="mt-2 text-sm text-gray-700 prose">
                        {{ comment.content | safe }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="mt-6">
          <div class="flex space-x-3">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                    class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                    src="{{ g.user.photo_image_signed_url() }}"
                    alt=""
                />

                <span
                    class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px"
                >
                  {{ icon("chat-bubble-left-ellipsis", class="h-5 w-5 text-gray-400") }}
                </span>
              </div>
            </div>

            <div class="min-w-0 flex-1">
              <form action="" method="post">
                <input type="hidden" name="action" value="post-comment">
                <div>
                  <label for="comment" class="sr-only">Comment</label>
                  <textarea
                      id="comment"
                      name="comment"
                      rows="3"
                      class="shadow-sm block w-full focus:ring-gray-900 focus:border-gray-900 sm:text-sm border border-gray-300 rounded-md"
                      placeholder="Leave a comment"
                  ></textarea>
                </div>

                <div
                    class="mt-6 flex items-center justify-end space-x-4"
                >
                  <button
                      type="submit"
                      class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-900 hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                  >
                    Commenter
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
