{% macro render_group(group) %}
  <div class="pt-8">
    {% if group.label %}
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">{{ group.label }}</h3>
      </div>
    {% endif %}

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      {% for field in group.fields %}
        {{ field.render_edit() }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

<form class="space-y-8 divide-y divide-gray-200" action="" method="post">
  <input type="hidden" name="_type" value="{{ form._type }}">
  {% for group in groups %}
    {{ render_group(group) }}
  {% endfor %}

  <div class="pt-5">
    <div class="flex justify-end">
      <button name="_action" value="submit" type="submit" class="button ~neutral">
        Enregistrer
      </button>
      <button name="_action" value="cancel" type="submit"
              class="ml-4 button ~info @high">
        Annuler
      </button>
    </div>
  </div>
</form>
