<!DOCTYPE html>
<html lang="en" data-theme="abilian">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Error - AiPRESS24</title>

  <!-- Favicons -->
  <link rel="icon" href="/static/icon/aipress24-favicon.png"/>
  <link rel="shortcut icon" href="/static/icon/aipress24-favicon.png"/>

  {{ vite_tags() }}
</head>

<body class="bg-gray-100 min-h-screen h-full min-h-screen">

{% block content %}
{% endblock %}
</body>
</html>
