{#
https://htmx.org/examples/tabs-hateoas/
#}

{% set active="border-pink-500 text-gray-900" %}
{% set inactive="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" %}

<div class="mt-6 sm:mt-2 2xl:mt-5">
  <div class="border-b border-gray-200">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <!-- Current: "border-pink-500 text-gray-900", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
        {% for tab in tabs %}
          {% if tab.id == active_tab %}
            {% set tab_class=active %}
          {% else %}
            {% set tab_class=inactive %}
          {% endif %}
          <a
              hx-get="?tab={{ tab.id }}"
              class="cursor-pointer whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm {{ tab_class }}"
              aria-current="page">
            {{ tab.label }}
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>
