{% include "pages/member/member--tab-bar.j2" %}

<div class="py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

  <h2 class="text-xl font-medium mb-2">Publications</h2>

  {% set posts = profile.posts %}
  {% if posts %}
    <ul role="list" class="grid gap-6 grid-cols-1 md:grid-cols-2">
      <!-- was class="bg-white rounded-lg shadow" -->
      {% for post in posts %}
        <li class="bg-white rounded shadow">
          {{ component("post-card", post._model, class_="bg-gray-100") }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ profile.name }} n'a pas encore publié de contenu.
  {% endif %}

</div>
