<main
    class="bg-white shadow sm:rounded-lg"
>
  <article>
    <!-- Profile header -->
    <div>
      <div class="relative">
        <img
            class="h-32 w-full object-cover lg:h-48"
            src="{{ profile.cover_image_url }}"
            alt=""
        />

        <div class="absolute bottom-0 right-0 mr-4 mb-3">
          {# Ouvert au couchsurfing #}
          <a href="#" class="rounded-full bg-gray-500 text-gray-100 tooltip tooltip-bottom"
             data-tip="Dispo pour une rencontre">
            {{ icon("beer", "lucide", "w-10 h-10 p-2") }}
          </a>

          {# Ouvert au couchsurfing #}
          <a href="#" class="rounded-full bg-gray-500 text-gray-100 tooltip tooltip-bottom"
             data-tip="Ouvert au couchsurfing">
            {# from: https://lucide.dev/icon/sofa?search=sofa #}
            {{ icon("sofa", "lucide", "w-10 h-10 p-2") }}
          </a>
        </div>
      </div>

      <div class="z-10 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
          <div class="flex z-10">
            {{ profile_image(profile, size=24, class="sm:h-32 sm:w-32") }}
          </div>

          <div
              class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
          >
            <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
              <h1 class="aui-title flex truncate">
                <span>{{ profile.name }} </span>
                {% if profile.karma > 10 %}
                  🥇
                {% elif profile.karma > 6 %}
                  🥈
                {% elif profile.karma > 3 %}
                  🥉
                {% endif %}

              </h1>
            </div>

            <div
                class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4"
            >
              <button
                  type="button"
                  class="aui-button"
                  hx-post="{{ url_for(profile) }}"
                  hx-vals='{"action": "toggle-follow"}'
                  hx-target="#follow-{{ profile.id }}"
                  hx-swap="innerHTML"
              >
                {%- if profile.is_following -%}
                  {% set label="Ne plus suivre" %}
                  {% set color="text-yellow-400" %}
                {% else %}
                  {% set label="Suivre" %}
                  {% set color="text-gray-400" %}
                {% endif %}

                {{ icon("star", class="-ml-1 mr-2 h-5 w-5 " + color) }}
                <span id="follow-{{ profile.id }}" class="font-medium text-gray-900">
                  {{ label }}
                </span>
              </button>
            </div>
          </div>
        </div>

        <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-gray-900 truncate">
            {{ profile.name }}
            {% if profile.karma > 10 %}
              🥇
            {% elif profile.karma > 6 %}
              🥈
            {% elif profile.karma > 3 %}
              🥉
            {% endif %}
          </h1>
        </div>
      </div>
    </div>

    <div id="tabs" hx-get="?tab={{ active_tab }}"
         hx-trigger="load"
         hx-target="#tabs"
         hx-swap="innerHTML">
    </div>

  </article>
</main>
