<div
    {#    wire:id="{{ this._id }}"#}
    x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }

            this.open = true
        },
        close(focusAfter) {
            this.open = false

            focusAfter && focusAfter.focus()
        }
    }"
    x-on:keydown.escape.prevent.stop="close($refs.button)"
    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
    x-id="['dropdown-button-{{ this._id }}']"
    class="relative"
>
  <!-- Button -->
  <button
      x-ref="button"
      x-on:click="toggle()"
      :aria-expanded="open"
      :aria-controls="$id('dropdown-button-{{ this._id }}')"
      type="button"
      class="bg-white border text-gray-600 border-gray-200 rounded px-4 py-2 focus:outline-none focus:ring-4 focus:ring-aqua-400"
  >
    <span>{{ this.label }}</span>
    <span aria-hidden="true">&darr;</span>
  </button>

  <!-- Panel -->
  <div
      x-ref="panel"
      x-show="open"
      x-transition.origin.top.left
      x-on:click.outside="close($refs.button)"
      :id="$id('dropdown-button-{{ this._id }}')"
      style="display: none;"
      class="max-h-[32rem] w-[16rem] overflow-auto absolute z-20 left-0 mt-2 bg-white border border-gray-200"
  >

    <div
        class="p-4 grid grid-cols-1 gap-6"
    >
      {% for option in this.options %}
        <div class="col-span-1">
          <div class="">
            <div class="space-y-2">
              <div
                  class="flex items-center space-x-2 rtl:space-x-reverse"
              >
                <input
                    id="selector.{{ this._id }}-{{ loop.index - 1 }}"
                    type="checkbox"
                    autocomplete="off"
                    wire:model="filter_states.{{ this.name }}.{{ loop.index - 1 }}"
                    class="text-primary-600 transition duration-75 rounded shadow-sm focus:border-primary-500 focus:ring-2 focus:ring-primary-500 disabled:opacity-70 border-gray-300"
                />
                <label
                    for="selector.{{ this._id }}-{{ loop.index - 1 }}"
                    class="text-sm font-medium leading-4 text-gray-700"
                >
                  {{ option }}
                </label>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>
