<nav class="border-b border-gray-200 bg-white">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-20">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a hx-boost="true" href="/">
            <img
                class="block lg:hidden h-12 w-auto"
                src="/kyc/static/img/aipress24-picto.png"
                alt="Aipress24"/>
            <img
                class="hidden lg:block h-12 w-auto"
                src="/kyc/static/img/aipress24-logo-small.png"
                alt="Aipress24"
            /></a>
        </div>
      </div>
    </div>
  </div>
</nav>
