<h1>Inscription sur Aipress24</h1>

<p>
  Bienvenue sur Aipress24, la plateforme des acteurs de la presse et de
  l’innovation.
</p>
<p>Aipress24 propose 5 espaces de travail :</p>
<p>
  <b>→ NEWS</b> : C’est le monde de l’information qui vient à vous. Grâce à de
  puissants filtres, vous obtenez l’information qui vous intéresse quand vous le
  voulez. Agences de presse, journaux, magazines, médias et sites Web
  d’information (SPEL) y postent leur meilleur de leur production éditoriale.
</p>
<p>
  <b>→ WORK</b> : C’est l’espace de travail qui vous permet de contribuer à la
  fabrique de l’information et de l’innovation. Pour les journalistes, une
  NEWSROOM organise les flux de la fabrique de l’information : gestion des
  sujets, commande des sujets, avis d’enquête, publications des articles,
  gestion de nouvelles recettes éditoriales…
</p>
<p>
  <b>→ EVENTS</b> : c’est le portail des événements auxquels vous pouvez
  participer ou que vous annoncez : conférences de presse, salons et colloques,
  webinaires, concours, événements cultuels, artistiques, sportifs politiques…
</p>
<p>
  <b>→ MARKET</b> : c’est la place de marché électronique officielle pour céder
  des droits de revente des contenus éditoriaux, proposer ou consulter des
  missions ponctuelles, lancer ou financer des projets, recruter des stagiaires,
  alternants, doctorants ou salariés.
</p>
<p>
  <b>→ SOCIAL</b> : c’est le réseau social de la fabrique de l’information et de
  l’innovation.
</p>

<p class="mt-8">
  Vous aussi, vous pouvez participer à la fabrique de l’information et de
  l’innovation. Inscrivez-vous dès maintenant en remplissant le questionnaire
  ci-après.
</p>
<p>
  Grâce à ce questionnaire, vous indiquez votre communauté professionnelle
  d’appartenance et ouvrez vos droits dans Aipress24 pour contribuer à la
  fabrique de l’information et de l’innovation. A tout moment, vous pourrez
  actualiser vos données et indiquer comment et par qui être contacté.e.
</p>
<p>
  Vos données vous appartiennent et les renseignements que vous fournissez ne
  seront pas revendus à des tiers. Ils vont encore moins servir à vous enfermer
  dans des boucles idéologiques. Au contraire, vos données personnelles vont
  élargir vos horizons et multiplier vos opportunités d’échange avec les membres
  d’Aipress24 qui vous intéressent : Journalistes, Communicants, Leaders,
  Experts, Transformers, Académiques… Inversement, vous allez faciliter aux
  membres d’Aipress24 l’accès à vos talents, à votre expertise ou aux moyens que
  vous voudrez bien mettre à leur disposition.
</p>
<p>
  Désormais, vous serez au cœur de la fabrique de l’information et de
  l’innovation et vos échanges avec les communautés d’Aipress24 seront
  gagnants-gagnants. A l’instar de chaque membre, vous allez étendre votre
  visibilité, augmenter votre efficacité opérationnelle et accroître vos revenus
  - directs ou indirects.
</p>
<p>
  En parallèle, vous allez contribuer aux grandes transformations qui sont
  nécessaires à notre planète. A savoir les transitions artistiques,
  culturelles, digitales, écologiques, économiques, financières, énergétiques,
  managériales, sociétales et technologiques.
</p>
<p>
  Pour toutes ces raisons, plus vos réponses seront justes, précises et
  régulièrement actualisées, meilleur sera le match-making avec les parties
  prenantes qui font progresser l’information, l’environnement, la culture,
  l’économie, l’innovation et la société.
</p>

<div class="flex mt-8">
  <img
    src="/kyc/static/img/Erick-001.jpg"
    alt="Erick Haehnsen"
    class="rounded-2xl w-64" />
  <div class="ml-8">
    <p>A vous de jouer !</p>
    <p class="mt-8">Erick Haehnsen, Co-fondateur d’Aipress24</p>
  </div>
</div>
