<div class="sticky top-4 mt-16">

  <section>
    <div class="card p-0 border-0 bg-white rounded shadow">
      <h2 id="sort" class="px-4 py-3 text-base font-medium text-gray-900 bg-gray-200">
        Acheter maintenant
      </h2>
      <div class="py-2 px-4 text-gray-700 text-sm">
        <div class="my-3">
          Cliquer ici pour commander.
        </div>
        <div class="my-3">
          Ou: vous n'avez pas assez de crédits pour acheter ce produit.
          Veuillez d'abors alimenter votre porte monnaie.
        </div>
      </div>
    </div>
  </section>

</div>
