{% from "macros/selector.j2" import selector %}

<div x-data="{ showFilters: false, showSorter: false }">
  {{ component("biz-tabs", tabs) }}

  <div
      x-cloak
      x-show="showFilters"
      x-transition.opacity
      class="flex items-center flex-wrap mb-4 gap-2 text-gray-700">
    <div>Filtrer par:</div>
    {% for filter in filters %}
      {{ selector(filter.label, filter.options) }}
    {% endfor %}
  </div>
</div>

<ul role="list" class="grid gap-6 grid-cols-1 lg:grid-cols-2">
  {% for obj in objs %}
    <li class="bg-white rounded-lg shadow">
      {{ biz_card(obj) }}
    </li>
  {% endfor %}
</ul>
