<!DOCTYPE html>
<html lang="en" data-theme="abilian">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }} - AiPRESS24</title>

  <!-- choices.js CSS -->
  <link rel="stylesheet" href="/kyc/static/css/choices.css"/>

  <!-- tom-select.js CSS -->
  <link rel="stylesheet" href="/kyc/static/css/tom-select.css"/>

  <script defer src="https://unpkg.com/hyperscript.org@0.9.4"></script>

  <!-- <script>
    //window.data = {};
    //window.toasts = [];
  </script> -->

  <!-- Alpine & Plugins -->
  <script
      defer
      src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
  <script
      defer
      src="https://unpkg.com/@colinaut/alpinejs-plugin-simple-validate@1/dist/alpine.validate.min.js"></script>

  <!-- Favicons -->
  <link rel="icon" href="/static/icon/aipress24-favicon.png"/>
  <link rel="shortcut icon" href="/static/icon/aipress24-favicon.png"/>

  <script
      src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>

  <script>
    window.data = {{ json_data | tojson }};
    window.toasts = {{ get_flashed_messages() | tojson }};
  </script>

  {{ vite_tags() }}

  <!--

  request.url: {{ request.url }}
  request.scheme: {{ request.scheme }}
  request.host: {{ request.host }}
  request.path: {{ request.path }}

  -->

</head>

<body id="body" class="bg-gray-100 min-h-screen h-full min-h-screen">

{{ component("page-header") }}

{% block content %}
  {{ content|safe }}
{% endblock %}

{% include "fragments/footer.j2" %}

{% include "fragments/toaster.j2" %}
{% include "fragments/stats.j2" %}
{% include "fragments/end.j2" %}

</body>
</html>
