<!DOCTYPE html>
<html lang="en" data-theme="abilian">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }} - AIpress24</title>

  <!-- Favicons -->
  <link rel="icon" href="/static/icon/icon-192x192.png"/>
  <link rel="shortcut icon" href="/static/icon/icon-192x192.png"/>

  <script>
    window.data = {{ json_data | tojson }};
    window.toasts = {{ get_flashed_messages() | tojson }};
  </script>

  <script
      src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>

  {{ vite_tags() }}

</head>

<body id="body" class="bg-gray-100 min-h-screen h-full min-h-screen">

{{ component("page-header") }}

{#{% include "fragments/header.j2" %}#}

{% block content %}
  {{ content|safe }}
{% endblock %}

{% include "fragments/footer.j2" %}
{% include "fragments/toaster.j2" %}
{% include "fragments/stats.j2" %}

</body>
</html>
