{% extends "admin/layout/_base.j2" %}

{% block main %}
<div>
    <p class="text-sm font-medium pb-6">
    Exports des données en format .ods :</p>
</div>
<div>
    - <a class="text-sm font-medium text-indigo-800 underline pl-1"
    href="{{ url_for('admin.export_route', exporter_name='inscription') }}">
    Inscriptions depuis un mois </a>
</div>
<div>
    - <a class="text-sm font-medium text-indigo-800 underline pl-1"
    href="{{ url_for('admin.export_route', exporter_name='modification') }}">
    Modifications validées depuis un mois </a>
</div>
<div>
    - <a class="text-sm font-medium text-indigo-800 underline pl-1"
    href="{{ url_for('admin.export_route', exporter_name='users') }}">
    Liste des utilisateurs </a>
</div>
<div>
    - <a class="text-sm font-medium text-indigo-800 underline pl-1"
    href="{{ url_for('admin.export_route', exporter_name='organisations') }}">
    Liste des organisations </a>
</div>

{% endblock %}
