{% extends "admin/layout/_base.j2" %}

{% block main %}

<div class="py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-xl font-medium mb-2">Données techniques</h2>
    <div>
        <dt class="text-sm font-medium text-gray-500">Identifiant technique (Organisation.id)</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {{ org.id }}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Date de création</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {% if org.created_at %}
              {{ org.created_at| localdt }}
            {% else %}
              aucune
            {% endif %}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Date de modification</dt>
        <dd class="mb-2 text-sm text-gray-900">
          {% if org.modified_at %}
            {{ org.modified_at| naivedt }}
          {% else %}
            aucune
          {% endif %}
        </dd>
    </div>
    {% if not org.is_auto %}
    <div class="mt-4 flex items-center justify-start gap-x-8">
      BW: «{{ org.bw_type }}»
      <label class="inline-flex items-left cursor-pointer">
        <input
          type="checkbox"
          value="true"
          class="sr-only peer"
          {% if org.active %}
            checked
          {% endif %}
          hx-post="/admin/show_org/{{org.id}}"
          hx-vals='{"action": "toggle_org_active"}'
          hx-trigger="change"
        >
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-orange-300 dark:peer-focus:ring-orange-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Organisation active (abonnement BW à jour)
        </span>
      </label>
    </div>
    {% endif %}
    <div class="mt-4 flex items-center justify-end gap-x-6">
      {% if not org.is_auto %}
        <button
          type="button"
          id="list_leaders_button"
          data-modal-target="list_leaders_modal"
          data-modal-toggle="list_leaders_modal"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
        >Liste dirigeants</button>
        <button
          type="button"
          id="list_managers_button"
          data-modal-target="list_managers_modal"
          data-modal-toggle="list_managers_modal"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
        >Liste managers</button>
      {% endif %}
      <button
        type="button"
        id="list_users_button"
        data-modal-target="list_users_modal"
        data-modal-toggle="list_users_modal"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
      >Liste membres</button>
    </div>
    {% if not org.is_auto %}
      <div class="mt-4 flex items-center justify-end gap-x-8">
        <button
          type="button"
          id="list_invitations_button"
          data-modal-target="list_invitations_modal"
          data-modal-toggle="list_invitations_modal"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
        >Liste invitations</button>
      </div>
    {% endif %}
</div>

<div id="list_users_modal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-screen-sm max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
      >Liste des membres du Business Wall de l'organisation
      </h4>
      <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
      >Pour modifier la liste des membres du Business Wall de l'organisation, ajouter ou retirer un email.
        Attention: adhésion ou radiation directe sans invitation préalable.
        Les membres doivent être des utilisateurs déjà inscrits dans Aipress24.
      </p>
      <div class="p-2">
        <form class="space-y-4" action="#">
          <div>
            <textarea name="content" id="content"
              class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
              placeholder:text-gray-900
              focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
              rows="6"
            >{{ org.members|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
          </div>
          <div class="mt-12 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              hx-post="/admin/show_org/{{org.id}}"
              hx-vals='{"action": "change_emails"}'
              data-modal-hide="list_users_modal"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
            >Valider</button>
            <button data-modal-hide="list_users_modal"
              type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
            >Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="list_managers_modal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-screen-sm max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
      >Liste des managers du Business Wall de l'organisation
      </h4>
      <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
      >Pour modifier la liste des managers du Business Wall, ajouter ou retirer un email. Les managers doivent déjà faire partie de l'organisation.
      </p>
      <div class="p-2">
        <form class="space-y-4" action="#">
          <div>
            <textarea name="content" id="content"
              class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
              placeholder:text-gray-900
              focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
              rows="6"
            >{{ org.managers|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
          </div>
          <div class="mt-12 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              hx-post="/admin/show_org/{{org.id}}"
              hx-vals='{"action": "change_managers_emails"}'
              data-modal-hide="list_managers_modal"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
            >Valider</button>
            <button data-modal-hide="list_managers_modal"
              type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
            >Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="list_leaders_modal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-screen-sm max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
      >Liste des dirigeants de l'organisation
      </h4>
      <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
      >Pour modifier la listes des dirigeants, ajouter ou retirer un email. Les dirigeants doivent déjà faire partie de l'organisation.
      </p>
      <div class="p-2">
        <form class="space-y-4" action="#">
          <div>
            <textarea name="content" id="content"
              class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
              placeholder:text-gray-900
              focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
              rows="6"
            >{{ org.leaders|sort(attribute='email')|join('\n', attribute='email') }}</textarea>
          </div>
          <div class="mt-12 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              hx-post="/admin/show_org/{{org.id}}"
              hx-vals='{"action": "change_leaders_emails"}'
              data-modal-hide="list_leaders_modal"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
            >Valider</button>
            <button data-modal-hide="list_leaders_modal"
              type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
            >Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="list_invitations_modal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-screen-sm max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <h4 class="pl-2 text-lg font-semibold text-gray-900   dark:text-white"
      >Liste des invitations à rejoindre le Business Wall de l'organisation
      </h4>
      <p class="bg-white rounded-lg shadow dark:bg-gray-700 pl-2 pr-2 pt-1 text-sm text-gray-900  dark:text-white"
      >Pour modifier la liste des invitations, ajouter ou retirer un email.
        L'invitation autorise un utilisateur actuel ou futur de Aipress24 à rejoindre le Business Wall de l'organisation.
      </p>
      <div class="p-2">
        <form class="space-y-4" action="#">
          <div>
            <textarea name="content" id="content"
              class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
              placeholder:text-gray-900
              focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:gray-100"
              rows="6"
            >{{ org.invitations_emails|sort|join('\n') }}</textarea>
          </div>
          <div class="mt-12 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              hx-post="/admin/show_org/{{org.id}}"
              hx-vals='{"action": "change_invitations_emails"}'
              data-modal-hide="list_invitations_modal"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
            >Valider</button>
            <button data-modal-hide="list_invitations_modal"
              type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
            >Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
  <div>
    <h2 class="text-xl font-medium mb-2">Profil de l'organisation</h2>
    <div>
      <dt class="pt-2 text-sm font-medium text-gray-500">
        Nom
      </dt>
      <dd>
        <h3 class="text-xl font-medium mb-2">{{org.name}}</h3>
      </dd>
    </div>
    <div>
      <dt class="pt-2 text-sm font-medium text-gray-500">
        Type
      </dt>
      <dd>
        <div class="mt-1 text-sm text-gray-900">{{ org.type| label }}</div>
      </dd>
    </div>
    <div>
    <dt class="pt-2 text-sm font-medium text-gray-500">
      Nombre de membres
    </dt>
    <dd>
        <div class="mt-1 text-sm text-gray-900">{{ org.count_members }}</div>
    </dd>
  </div>
 {% if not org.is_auto %}
    <div>
      <dt class="pt-2 text-sm font-medium text-gray-500">
        Logo
      </dt>
      <dd>
        {% if org.logo_url %}
          <div class="flex">
            <img
              class="h-24 w-24 ring-2 ring-gray-100 sm:h-32 sm:w-32"
              src="{{ org.logo_url }}"
              alt="Logo de l&apos;organisation"
            />
          </div>
        {% else %}
          <div class="flex">
            <div class="mt-1 mb-2 text-sm text-gray-900">
              &nbsp;
            </div>
          </div>
        {% endif %}
      </dd>
    </div>
<form
  x-data
  id="bwform"
  method="post"
  enctype="multipart/form-data"
  >
  {{ form.csrf_token }}
  <div class="my-1">
    <fieldset class="border border-solid border-gray-500 p-4">
      <legend>Informations sur l'organisation</legend>
      {% for field in form %}
        {% if field.name != "csrf_token" %}
          <div>
            {{ render_field(field) }}
          </div>
        {% endif %}
      {% endfor %}
    </fieldset>
  </div>
</form>
{% endif %}

</div>

{% endblock %}
