<div id="bw-form-container">
      {% if readonly_form_bw %}
      <div class="p-2">
        <form class="space-y-4" action="#">
          <div class="mt-12 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              hx-post="/admin/show_org/{{org.id}}"
              hx-target="#bw-form-container"
              hx-vals='{"action": "allow_modify_bw"}'
              class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
            >Modifier les informations du BW</button>
          </div>
        </form>
      </div>

    {% endif %}

<form
  x-data
  id="bwform"
  method="post"
  enctype="multipart/form-data"
  >
  {{ form.csrf_token }}
  {% if not readonly_form_bw %}
    <div class="p-2 mt-12 flex items-center justify-end gap-x-6">
      <button
        type="submit"
        hx-post="/admin/show_org/{{org.id}}"
        hx-target="#bw-form-container"
        hx-vals='{"action": "validate_modification_bw"}'
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400"
      >Valider les modifications du BW</button>
      <button
        type="submit"
        hx-post="/admin/show_org/{{org.id}}"
        hx-target="#bw-form-container"
        hx-vals='{"action": "cancel_modification_bw"}'
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-400"
      >Annuler</button>
    </div>
  {%endif%}
  <div class="my-1">
    <fieldset class="border border-solid border-gray-500 p-4">
      <legend>Informations sur l'organisation</legend>
      {% for field in form %}
        {% if field.name != "csrf_token" %}
          <div>
            {{ render_field(field) }}
          </div>
        {% endif %}
      {% endfor %}
    </fieldset>
  </div>
</form>
</div>
