{% extends "admin/layout/_base.j2" %}

{% block main %}

<div class="py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-xl font-medium mb-2">Données techniques</h2>
    <div>
        <dt class="text-sm font-medium text-gray-500">Identifiant technique (User.id)</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {{ user.id }}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Date de soumission du formulaire d'inscription</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {{ user.date_submit.strftime('%d %b %G %H:%M') }}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Date de dernière connexion</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {% if user.last_login_at %}
                {{ user.last_login_at.strftime('%d %b %G %H:%M') }}
            {% else %}
                Jamais connecté
            {% endif %}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Commentaire de validation</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {{ user.user_valid_comment }}
        </dd>
    </div>
    <div>
        <dt class="text-sm font-medium text-gray-500">Date de validation</dt>
        <dd class="mb-2 text-sm text-gray-900">
            {% if user.user_date_valid %}
                {{ user.user_date_valid.strftime('%d %b %G %H:%M') }}
            {% else %}
                Jamais validé
            {% endif %}
        </dd>
    </div>
    <div class="mt-12 flex items-center justify-end gap-x-6">
        <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            id="rejeter"
            hx-post="{{ user.id }}"
            hx-vals='{"action": "reject"}'
        >Rejeter</button>
        <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            id="validation"
            hx-post="{{ user.id }}"
            hx-vals='{"action": "validate"}'
        >Valider le profil</button>
    </div>
</div>

<hr>

<div class="py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
  <div>
    <h2 class="text-xl font-medium mb-2">Profil complet</h2>

    <h2 class="text-xl font-medium mb-2">{{profile_description}}</h2>

    <div class="space-y-3">
      {% for group in kycgroups %}
        <h3 class="font-medium pt-2 pb-1">{{ group.label }}</h3>

        <dl class="grid grid-cols-1 gap-y-6">
          {% for idx in group.ids %}
            {% set value=results[idx] %}
            {% if value %}
              <div>
                <dt class="text-sm font-medium text-gray-500">
                  {{ labels[idx] }}
                </dt>

                <dd>
                  {% if idx in urls %}
                    <img class="mt-1 max-w-32 max-h-32"
                         src="{{ urls[idx] }}" alt=""/>
                  {% else %}
                    <div class="mt-1 text-sm text-gray-900">
                      {{ results[idx] }}
                    </div>
                  {% endif %}
                </dd>
              </div>
            {% endif %}
          {% endfor %}
        </dl>
      {% endfor %}
      <hr>
    </div>
  </div>
</div>

{% endblock %}
