<div class="mt-8 lg:col-span-2">
  <nav aria-label="Sidebar" class="sticky top-4 divide-y divide-gray-300">

    <div class="pb-8 space-y-1">
      {% for menu_item in menus.secondary %}
        {% if menu_item.active %}
          {% set class="bg-gray-200 text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md" %}
        {% else %}
          {% set class="text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md" %}
        {% endif %}

        <a
            href="{{ menu_item.url }}"
            class="{{ class }}"
            aria-current="page"
        >
          {{ icon(menu_item.icon, class="h-6 w-6 text-gray-400") }}
          <span class="truncate ml-2"> {{ menu_item.label }} </span>
        </a>
      {% endfor %}
    </div>
  </nav>
</div>
