{% macro make_post(post) %}
  <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
    <article>
      <div>
        <div class="flex space-x-3">
          <div class="flex-shrink-0">
            <a href="{{ url_for(post.owner) }}">
              {{ profile_image(post.owner, size=10) }}
            </a>
          </div>

          <div class="min-w-0 flex-1">
            <p class="text-sm font-medium text-gray-900">
              <a href="{{ url_for(post.owner) }}" class="hover:underline">{{ post.owner.full_name }}</a>
            </p>

            <p class="text-sm text-gray-500">
              <time datetime="{{ post.created_at.isoformat() }}">
                {{ post.created_at.format('Le DD MMM YYYY à HH:mm', locale='fr') }}
              </time>
            </p>
          </div>
        </div>
      </div>

      <div class="mt-2 text-sm text-gray-700 space-y-4">
        {{ post.content }}
      </div>

      <div class="mt-6 flex justify-between space-x-8">
        <div class="flex space-x-6">
          <span class="inline-flex items-center text-sm">
            <button
                type="button"
                class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
                hx-post="{{ url_for('api.likes', id=post.id, cls='post') }}"
                hx-vals='{"action": "toggle", }'
                hx-target="#likes-{{ post.id }}"
                hx-swap="innerHTML"
            >
              {{ icon("hand-thumb-up", class="h-5 w-5") }}
              <span id="likes-{{ post.id }}" class="font-medium text-gray-900">{{ post.like_count }}</span>
              <span class="sr-only">likes</span>
            </button>
          </span>

          {#          <span class="inline-flex items-center text-sm">#}
          {#            <button#}
          {#                type="button"#}
          {#                class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"#}
          {#            >#}
          {#              {{ icon("chat-bubble-left-ellipsis", class="h-5 w-5") }}#}
          {#              <span class="font-medium text-gray-900">{{ post.comment_count }}</span>#}
          {#              <span class="sr-only">replies</span>#}
          {#            </button>#}
          {#          </span>#}
          {##}
          {#          <span class="inline-flex items-center text-sm">#}
          {#            <button#}
          {#                type="button"#}
          {#                class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"#}
          {#            >#}
          {#              {{ icon("eye", class="h-5 w-5") }}#}
          {#              <span class="font-medium text-gray-900">{{ post.view_count }}</span>#}
          {#              <span class="sr-only">views</span>#}
          {#            </button>#}
          {#          </span>#}
        </div>

        <div class="flex text-sm">
          <span class="inline-flex items-center text-sm">
            <button
                type="button"
                class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
            >
              {{ icon("share", class="h-5 w-5") }}
              <span class="font-medium text-gray-900">Share</span>
            </button>
          </span>
        </div>
      </div>
    </article>
  </li>
{% endmacro %}
