{% from "pages/swork-macros.j2" import make_post with context %}

{% extends "layout/private.j2" %}

{% block content %}
  <div
    class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8"
  >
    {% include "pages/_swork_menu.j2" %}

    <main class="lg:col-span-9 xl:col-span-7 my-8">
      <ul role="list" class="space-y-4">

        <!-- post box -->
        <li class="bg-white py-6 shadow sm:rounded-lg">
          {% include "pages/swork/post-box.j2" %}
        </li>

        {% for post in posts %}
          {{ make_post(post) }}
        {% endfor %}
      </ul>
    </main>

    <aside class="hidden xl:block xl:col-span-3 my-8">
      <div class="sticky top-4 space-y-4">
        {% from "macros/promo.j2" import promo_box with context %}
        {{ promo_box("swork/1") }}
        {{ promo_box("swork/2") }}

        {# {% include "pages/swork/follow-box.j2" %}#}
        {# {% include "pages/swork/trending-box.j2" %}#}
      </div>
    </aside>
  </div>
{% endblock %}
