{% extends "wip/layout/_base.j2" %}

{% block body_content %}
  <h2 class="mb-4 text-xl text-gray-700 font-bold">Contenu et métadonnées éditables</h2>

  <div class="my-4 p-4 border border-gray-200">
    <h1 class="max-w-6xl mx-auto aui-title">
      {{ obj.title }}
    </h1>

    {% for field in form.fields.values() %}
      <h3 class="mb-4 text-lg font-bold">
        {{ field.label }}
      </h3>

      <div class="mb-8">
        {{ field.render_view() }}
      </div>
    {% endfor %}
  </div>

  <h2 class="mt-8 mb-4 text-xl text-gray-700 font-bold">Métadonnées système</h2>

  <div>
    Date de création: {{ obj.created_at.format("DD MMMM YYYY, à HH:mm", locale="fr") }}
  </div>

  <div>
    Date de dernière modification: {{ obj.modified_at.format("DD MMMM YYYY, à HH:mm", locale="fr") }}
  </div>

  <h2 class="mt-8 mb-4 text-xl text-gray-700 font-bold">Statistiques</h2>

  <div>
    Nbre de vues: {{ stats.num_views }}
  </div>

  <div>
    Nbre de lines: {{ stats.num_likes }}
  </div>

  <div>
    Nbre de commentaires: {{ stats.num_comments }}
  </div>

  <div>
    Nbre de réponses: {{ stats.num_replies }}
  </div>

{% endblock %}
